<!DOCTYPE html>
<html>
<head>
    <title>Officials</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_game.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<nav id="navBar"></nav>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/clips.js') }}"></script>
<script>
    load("")
    setup({{ id }}, "{{ key }}")
</script>

<h1><a href="/video/library?key={{ key }}" class="hide">Library</a></h1>
<label>Tags: <input type="text"></label>
<table class="table">
    <thead>
    <tr>
        <th></th>
    </tr>
    </thead>

{% for i in clips %}

{% endfor %}
</table>
</body>
</html>