<!DOCTYPE html>
<html>
<head>
    <title>Officials</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_game.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_admin.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
{% if conflict %}
    <div style="position:fixed;left: 0;top:0;height: 50px;width: 100%;background-color: #9C1A1C;z-index:100"><p
            style="color: white"><a href="/video/conflict">You have one or more conflicting videos</a></p>
    </div>
{% endif %}
<div id="navBar"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/clips.js') }}"></script>
<script>
    load("")
    setup({{ id }})
</script>

<h1><a href="/video/{{ id }}" class="hide">Answer Viewer</a></h1>

<video src="/video/{{ id }}/raw" autoplay controls width="60%" poster="/api/image?name=SUSS_VIDEO"></video>
<br>
<br>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Team Outcome</th>
        <th>Personal Outcome</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>correct</th>
        <td><i>{{ true_team }}</i></td>
        <td><i>{{ true_personal }}</i></td>
    </tr>
    {% for i in answers %}
        <tr>
            <th>{{ i["name"]}}</th>
            <td {% if i["providedTeam"] != true_team %} style="background-color: #9C1A1C;color: white" {% endif %}>{{ i["providedTeam"] }}</td>
            <td {% if i["providedTeam"] != true_team %} style="background-color: #9C1A1C;color: white" {% endif %}>{{ i["providedPersonal"] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>