<!DOCTYPE html>
<html>
<head>
    <title>Officials</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_game.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_admin.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
{% if conflict %}
    <a class="hide" style="display:flex;position:fixed;left: 0;top:0;height: 50px;width: 100%;background-color: #9C1A1C;z-index:100;color: white;align-items: center; justify-content: center"
       href="/video/conflict"><b style="font-size: 20px">You have one or more conflicting videos</b></a>
{% endif %}
<nav id="navBar"></nav>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/clips.js') }}"></script>
<script>
    load("")
    setup({{ id }})
</script>

<h1><a href="/video/{{ id }}/admin" class="hide">Video Rating System</a>
    {% if bookmarked %}
        (★)
    {% else %}
        <a onclick="document.getElementById('reason').hidden = false">(☆)</a>
    {% endif %}
</h1>
{% if not bookmarked %}
    <div id="reason" hidden>
        <input type="text" id="reasonText">
        <button onclick="bookmark()">Submit</button>
        <br>
        <br>
    </div>
{% endif %}
<video src="/video/{{ id }}/raw" autoplay controls width="60%" poster="/api/image?name=SUSS_VIDEO"></video>
<br>
<br>
<div class="dropdown">
    <button onclick="myFunction(this)" id="team" class="smallBtn dropbtn" style="background-color: #2a5d88;">
        {{ team }}
    </button>
    <div class="dropdown-content">
        <p onclick="setTeamOutcome(1)" id="team1">Replay</p>
        <p onclick="setTeamOutcome(2)" id="team2">Point Stairs Side</p>
        <p onclick="setTeamOutcome(3)" id="team3">Point IGA Side</p>
        <p onclick="setTeamOutcome(4)" id="team4">Fault</p>
        <p onclick="setTeamOutcome(5)" id="team5">Unclear</p>
    </div>
</div>
<br>
<br>
<div class="dropdown">
    <button onclick="myFunction(this)" id="personal" class="smallBtn dropbtn" style="background-color: #2a5d88;">
        {{ personal }}
    </button>
    <div class="dropdown-content">
        <p onclick="setPersonalOutcome(1)" id="personal1">No Card</p>
        <p onclick="setPersonalOutcome(2)" id="personal2">Green Card</p>
        <p onclick="setPersonalOutcome(3)" id="personal3">Yellow Card</p>
        <p onclick="setPersonalOutcome(4)" id="personal4">Extended Yellow Card (4-6 rounds)</p>
        <p onclick="setPersonalOutcome(5)" id="personal5">Extended Yellow Card (7+ rounds)</p>
        <p onclick="setPersonalOutcome(6)" id="personal6">Red Card</p>
    </div>
</div>
<br>
<br>
<label>
    Certain?
    <input type="checkbox" id="certain" {% if certain %} checked {% endif %}>
</label>
<br>
<br>

<label>
    Garbage
    <input type="range" min="1" max="3" id="quality">
    Perfect
</label>
<br>
<br>
<label>
    Starring:
    <input type="text" id="starring" value="{{ starring }}">
</label>
<h3>Tags (comma seperated)</h3>

<textarea style="width: 600px;height: 100px" id="tags">{{ tags }}</textarea>
<br>
<br>
<label>
    Set as Required?
    <input type="checkbox" id="required"  {% if required %} checked {% endif %}>
</label>

<br>
<br>
<button class="button" style="color:#550000" onclick="garbage('{{ url_tags }}')">Garbage</button>
<button class="button" onclick="submit('{{ url_tags }}')">Submit</button>


</body>
</html>