<!DOCTYPE html>
<html>
<head>
    <title>Officials</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_game.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div id="navBar"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/clips.js') }}"></script>
<script>
    load("")
    setup({{ id }}, "{{ key }}")
</script>

<h1><a href="/video?key={{ key }}" class="hide">Video {{ id }}</a></h1>
<h3 style="display: inline">Starring:</h3> <i>{{ starring }}</i>

<br>
<br>
<video src="/video/{{ id }}/raw" autoplay controls width="60%" poster="/api/image?name=SUSS_VIDEO"></video>
<br>
<br>
<div class="dropdown">
    <button onclick="myFunction(this)" id="team" class="smallBtn dropbtn" style="background-color: #2a5d88;">Team Outcome</button>
    <div class="dropdown-content">
        <p onclick="setTeamOutcome(1)" id="team1">Replay</p>
        <p onclick="setTeamOutcome(2)" id="team2">Point Stairs Side</p>
        <p onclick="setTeamOutcome(3)" id="team3">Point IGA Side</p>
        <p onclick="setTeamOutcome(4)" id="team4">Fault</p>
    </div>
</div>
<br>
<br>
<div class="dropdown">
    <button onclick="myFunction(this)" id="personal" class="smallBtn dropbtn" style="background-color: #2a5d88;">Personal Outcome</button>
    <div class="dropdown-content">
        <p onclick="setPersonalOutcome(1)" id="personal1">No Card</p>
        <p onclick="setPersonalOutcome(2)" id="personal2">Green Card</p>
        <p onclick="setPersonalOutcome(3)" id="personal3">Yellow Card</p>
        <p onclick="setPersonalOutcome(4)" id="personal4">Extended Yellow Card (4-6 rounds)</p>
        <p onclick="setPersonalOutcome(5)" id="personal5">Extended Yellow Card (7+ rounds)</p>
        <p onclick="setPersonalOutcome(6)" id="personal6">Red Card</p>
    </div>
</div>

<br>
<br>
{% if tags %}
    <form style="display: none" action="/video/{{ id }}/answer?tags={{ tags }}" method="POST" id="form">
{% else %}
    <form style="display: none" action="/video/{{ id }}/answer" method="POST" id="form">
{% endif %}
<input type="hidden" id="key" name="key" value="{{ key }}"/>
<input type="hidden" id="id" name="id" value="{{ id }}"/>
<input type="hidden" id="teamOutcome" name="teamOutcome" value=""/>
<input type="hidden" id="personalOutcome" name="personalOutcome" value=""/>
</form>
<button class="button" onclick="answer()">Submit</button>
</body>
</html>