<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_admin.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<script src="{{ url_for('static', filename='js/password.js') }}"></script>
<h1>Sign in</h1>
<h3><i>By using this page, you agree to essential cookies.</i></h3>
<br>
<img src="https://static.vecteezy.com/system/resources/previews/009/383/412/non_2x/padlock-clipart-design-illustration-free-png.png" style="width: 300px">
<br>
<br>
<label for="user_id"><b>User Id:</b></label>
<input type="number" id="user_id">
<br>
<label for="password"><b>password:</b></label>
<input type="password" onkeydown="if (event.keyCode === 13) runPassword()" id="password">
<br>
<br>
<br>
<br>
<button class="button" onclick="window.location.href='{{ url_for('root') }}'">Cancel</button>
<button class="button" onclick="runPassword()">Submit</button>

</body>
</html>
