<!DOCTYPE html>
<html>
<head>
    <title>Create Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_game.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_editor.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<nav id="navBar"></nav>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

<script src="{{ url_for('static', filename='js/createGame.js') }}"></script>
<script>
    setTournament("{{ tournamentLink }}")
</script>
<h1>Create Game </h1>
<p onclick="document.location.href = document.location.href.replace('create_players','create')"><i>Choose Teams Instead</i></p>
<table class="jaredTable">
    <tr>
        <th><label>Team One: <input type="text" id="nameOne"></label></th>
        <td></td>
        <th><label>Team Two: <input type="text" id="nameTwo"></label></th>
    </tr>

    <tr>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" class="button dropbtn" id="teamOne0">Player One</button>
                <div class="dropdown-content" id="P1T1">
                    <input id="searchP1T1" class="dropbtn" type="text">
                    {% for p in players %}
                    <p onclick="setTeamListOne('{{p.searchable_name}}', '{{p.name}}', 0)">{{p.name}}</p>
                    {% endfor %}
                </div>
            </div>
        </td>
        <td></td>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" class="button dropbtn" id="teamTwo0">Player One</button>
                <div class="dropdown-content" id="P1T2">
                    <input id="searchP1T2" class="dropbtn" type="text">
                    {% for p in players %}
                    <p onclick="setTeamListTwo('{{p.searchable_name}}', '{{p.name}}', 0)">{{p.name}}</p>
                    {% endfor %}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" class="button dropbtn" id="teamOne1">Player Two</button>
                <div class="dropdown-content" id="P2T1">
                    <input id="searchP2T1" class="dropbtn" type="text">
                    {% for p in players %}
                    <p onclick="setTeamListOne('{{p.searchable_name}}', '{{p.name}}', 1)">{{p.name}}</p>
                    {% endfor %}
                </div>
            </div>
        </td>
        <td></td>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" class="button dropbtn" id="teamTwo1">Player Two</button>
                <div class="dropdown-content" id="P2T2">
                    <input id="searchP2T2" class="dropbtn" type="text">
                    {% for p in players %}
                    <p onclick="setTeamListTwo('{{p.searchable_name}}', '{{p.name}}', 1)">{{p.name}}</p>
                    {% endfor %}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td><br></td>
    </tr>
    <tr>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" class="button dropbtn" id="teamOne2">Add Substitute</button>
                <div class="dropdown-content" id="P3T1">
                    <input id="searchP3T1" class="dropbtn" type="text">
                    {% for p in players %}
                    <p onclick="setTeamListOne('{{p.searchable_name}}', '{{p.name}}', 2)">{{p.name}}</p>
                    {% endfor %}
                </div>
            </div>
        </td>
        <td></td>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" class="button dropbtn" id="teamTwo2">Add Substitute</button>
                <div class="dropdown-content" id="P3T2">
                    <input id="searchP3T2" class="dropbtn" type="text">
                    {% for p in players %}
                    <p onclick="setTeamListTwo('{{p.searchable_name}}', '{{p.name}}', 2)">{{p.name}}</p>
                    {% endfor %}
                </div>
            </div>
        </td>
    </tr>
</table>
<br>

{% if officials.__len__() == 1 %}
    <button disabled class="button" id="umpire">Official</button>
{% else %}
    <div class="dropdown">
        <button onclick="myFunction(this)" class="button dropbtn" id="umpire">Official</button>
        <div class="dropdown-content">
            {% for i in officials %}
                <p onclick="setOfficial('{{i.person.searchable_name}}', '{{i.person.name}}')">{{i.person.name}}</p>
            {% endfor %}
        </div>
    </div>
{% endif %}
<script>setOfficial('{{officials[0].person.searchable_name}}', '{{officials[0].person.name}}')</script>
<br>
<br>
<button onclick="createPlayers()" class="button">Start</button>
<br>
<br>
</body>
</html>