<!DOCTYPE html>
<html>
<head>
    <title>Edit Game {{ teams[0].name }} vs {{ teams[1].name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_game.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_editor.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<script src="{{ url_for('static', filename='js/scorer.js') }}" teamOne='{{ ','.join(teamOneNames) }}'
        teamTwo='{{ ','.join(teamTwoNames) }}'></script>
<script>
    setup({{game.id}}, {{ swap }})
</script>
<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn hide" onclick="timeoutTime = -1">&times;</a>
    <h1 class="overlay-content" id="timeoutClock"></h1>
</div>


<div style="width: 100%">
    <h1>{{ teams[0].name }} vs {{ teams[1].name }}</h1>
    <h1 class="big">{{ teams[0].score }} - {{ teams[1].score }}</h1>

    {% if match_points > 0 %}
        <p style="font-size: 30px"><b>{{ match_points }} Match Points</b></p>
    {% endif %}

    <br>
    <table class="jaredTable">

        <tr>
            {% if teams[1].serving %}
                <td></td>
                <td></td>
            {% endif %}
            {% if game.faulted %}
                <td style="color: #ff0000"><i>{{ game.server }} ({{ game.serve_side }})</i></td>
            {% else %}
                <td><i>{{ game.server }} ({{ game.serve_side }})</i></td>
            {% endif %}
        </tr>

        <tr>
            <th><img
                    src="{{ teams[0].image_url }}"
                    class="team_logo"
                    style="display: inline;left:70%;vertical-align:middle;"></th>
            <td style="width: 150px;"><p><b>Round:</b> <i>{{ game.round }}</i></p>
                <p><b>Match Id:</b> <i>{{ game.id }}</i></p>
                <p><b>Official:</b> <i>{{ game.official }}</i></p>
                {% if game.scorer %}
                    <p><b>Scorer:</b> <i>{{ game.scorer }}</i></p>
                {% endif %}
                <p onclick="swap()"><i>Swap Sides</i></p>
            </td>
            <th><img
                    src="{{ teams[1].image_url }}"
                    class="team_logo"
                    style="display: inline;left:70%;vertical-align:middle;"></th>
        </tr>
        <tr>
            <td>
                {% if teams[0].card_time_remaining < 0 %}
                    <div class="rectangle" style="background-color: #EC4A4A; width:100%"></div>
                {% elif teams[0].card_time_remaining > 0 %}
                    <div class="rectangle"
                         style="background-color: #FCCE6E;width:{{ 100*(teams[0].card_time_remaining) / teams[0].card_time }}%"></div>
                {% elif teams[0].green_carded %}
                    <div class="rectangle"
                         style="background-color: #84AA63;width:100%"></div>
                {% endif %}

            </td>
            <td></td>
            <td>
                {% if teams[1].card_time_remaining < 0 %}
                    <div class="rectangle" style="background-color: #EC4A4A; width:100%"></div>
                {% elif teams[1].card_time_remaining > 0 %}
                    <div class="rectangle"
                         style="background-color: #FCCE6E;width:{{ 100*(teams[1].card_time_remaining) / teams[1].card_time }}%"></div>
                {% elif teams[1].green_carded %}
                    <div class="rectangle"
                         style="background-color: #84AA63;width:100%"></div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {% if teams[0].has_sub and game.round <= 9 %}
                    <div class="dropdown">
                        <button onclick="myFunction(this)" class="smallBtn dropbtn" style="background-color: #2a5d88;">
                            Substitute {{ teams[0].name }}</button>
                        <div class="dropdown-content">
                            {% for i, p in teamOnePlayers %}
                                <p onclick="sub(true, {{ i }})">
                                    {{ p.name }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}</td>
            <td></td>
            <td>
                {% if teams[1].has_sub and game.round_number <= 9 %}
                    <div class="dropdown" style="background-color: #2a5d88;">
                        <button onclick="myFunction(this)" class="smallBtn dropbtn" style="background-color: #2a5d88;">
                            Substitute {{ teams[1].name }}</button>
                        <div class="dropdown-content">
                            {% for i, p in teamTwoPlayers %}
                                <p onclick="sub(false, {{ i }})">
                                    {{ p.name }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}</td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td>
                {% if teams[0].carded %}
                    {% for i, p in teamOnePlayers %}
                        {% if not p.card_time_remaining != 0 %}
                            <button onclick="score(true, {{ i }})" class="button">
                                Score {{ teams[0].name }}</button>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="dropdown">
                        <button onclick="myFunction(this)" class="button dropbtn">
                            Score {{ teams[0].name }}</button>
                        <div class="dropdown-content">
                            {% for i, p in teamOnePlayers %}
                                <p onclick="score(true, {{ i }})">
                                    {% if p.is_carded %} <s><i> {% endif %}
                                    {{ p.name }}
                                    {% if p.is_carded %} </i></s> {% endif %}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </td>
            <td><br></td>
            <td>
                {% if teams[1].carded %}
                    {% for i, p in teamTwoPlayers %}
                        {% if not p.is_carded() %}
                            <button onclick="score(false, {{ i }})" class="button">
                                Score {{ teams[1].name }}</button>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="dropdown">
                        <button onclick="myFunction(this)" class="button dropbtn">
                            Score {{ teams[1].name }}</button>
                        <div class="dropdown-content">
                            {% for i, p in teamTwoPlayers %}
                                <p onclick="score(false, {{ i }})">
                                    {% if p.is_carded %} <s><i> {% endif %}
                                    {{ p.name }}
                                    {% if p.is_carded %} </i></s> {% endif %}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td>
                <button onclick="timeout(true)" class="button" id="timeoutOne">
                    {% if teams[0].timeouts > 0 %} <s> {% endif %}
                    Timeout {{ teams[0].name }}
                    {% if teams[0].timeouts > 0 %} </s> {% endif %}
                </button>
            </td>
            <td></td>
            <td>

                <button onclick="timeout(false)" class="button" id="timeoutTwo">
                    {% if teams[1].timeouts > 0 %} <s> {% endif %}
                    Timeout {{ teams[1].name }}
                    {% if teams[1].timeouts > 0 %} </s> {% endif %}
                </button>

            </td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            {% if VERBAL_WARNINGS %}
                <td>
                    <button onclick="openCardModal('Warning', true, '{{ teams[0].name }}')" class="gray_button">
                        Warning {{ teams[0].name }}</button>
                </td>
                <td></td>
                <td>
                    <button onclick="openCardModal('Warning', false, '{{ teams[1].name }}')" class="gray_button">
                        Warning {{ teams[1].name }}</button>
                </td>
            {% else %}
                <td>
                    <button onclick="openCardModal('Green', true, '{{ teams[0].name }}')" class="green_button">
                        Green
                        Card {{ teams[0].name }}</button>
                </td>
                <td></td>
                <td>
                    <button onclick="openCardModal('Green', false, '{{ teams[1].name }}')" class="green_button">
                        Green
                        Card {{ teams[1].name }}</button>
                </td>
            {% endif %}
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td>
                <button onclick="openCardModal('Yellow', true, '{{ teams[0].name }}')" class="yellow_button">
                    Yellow
                    Card {{ teams[0].name }}</button>
            </td>
            <td></td>
            <td>
                <button onclick="openCardModal('Yellow', false, '{{ teams[1].name }}')" class="yellow_button">
                    Yellow
                    Card {{ teams[1].name }}</button>
            </td>
        </tr>

        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td>
                <button onclick="openCardModal('Red', true, '{{ teams[0].name }}')" class="red_button">
                    Red
                    Card {{ teams[0].name }}</button>
            </td>
            <td></td>
            <td>
                <button onclick="openCardModal('Red', false, '{{ teams[1].name }}')" class="red_button">
                    Red
                    Card {{ teams[1].name }}</button>
            </td>
        </tr>
    </table>

    <br>
    <br>
    <button class="button" onclick="fault()">
        {% if game.faulted %}
            <b style="font-size:18px">
        {% endif %}
        Fault
        {% if game.faulted %}
            </b>
        {% endif %}
    </button>
    <button class="button" id="serveBtn" onclick="startServeClock()">Start Serve Timer</button>
    <button class="button" id="serveBtn" onclick="ace()">Ace</button>
    <br><br>
    <div class="dropdown">
        <button onclick="myFunction(this)" class="red_button dropbtn" style="color:#9C1A1C"><b>Forfeit</b></button>
        <div class="dropdown-content">
            {% for i, p in enum_teams %}
                <p onclick="forfeit({{ 1 - i }})">{{ p.name }}</p>
            {% endfor %}
        </div>
    </div>
    <br><br>
    <button class="button" onclick="undo()" style="background-color: #2a5d88;">Undo</button>
    {% if game.someone_has_won %}
        <button class="button" onclick="next()" style="background-color: #2a5d88;">Next</button>
    {% endif %}
    {% if game.in_timeout %}
        <script>timeoutOverlay({{ timeout_time }}, {{ timeout_first }})</script>
    {% endif %}
</div>
<div style="position:absolute; top: 10%;left: 0; width: 20%">
    <h3>Cards for {{ teams[0].name }}</h3>
    {% if not teams[0].cards %}
        <i>None Received</i>
    {% endif %}
    {% for i in teams[0].cards %}
        <i>{{ i.player }} has received a <a style="color: {{ i.hex }}">{{ i.type }}</a> card
            for</i> <b>{{ i.reason }}</b>
        <br>
        <br>
    {% endfor %}
</div>
<div style="position:absolute; top: 10%;left: 80%; width: 20%">
    <h3>Cards for {{ teams[1].name }}</h3>
    {% if not teams[1].cards %}
        <i>None Received</i>
    {% endif %}
    {% for i in teams[1].cards %}
        <i>{{ i.player }} has received a <a style="color: {{ i.hex }}">{{ i.type }}</a> card
            for</i> <b>{{ i.reason }}</b>
        <br>
        <br>
    {% endfor %}
</div>


<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="cardHeader">Header</h2>
        <div style="font-size: 1.5em;">
            <input type="radio" id="playerOne" name="player" value="HTML">
            <label for="playerOne" id="nameOne">HTML</label><br>
            <input type="radio" id="playerTwo" name="player" value="CSS">
            <label for="playerTwo" id="nameTwo">JavaScript</label>
        </div>
        <br>
        <div>
            <h3 id="durationText">Duration (3)</h3>
            <input style="width: 500px;margin:0 auto;" type="range" id="duration" min="3" max="12" value="4" step="1"/>
        </div>
        <br>
        <h3 id="reasonText">Reason</h3>
        <div id="reason" style="font-size: 1.5em;">

        </div>
        <br>
        <button class="button" onclick="sendCustomCard()">Submit</button>
    </div>

</div>
{% if timeout_time > 0 %}
    <script>
        timeoutOverlay({{ timeout_time }}, {{ timeout_first }})
    </script>
{% endif %}

</body>
</html>