<!DOCTYPE html>
<html>
<head>
    <title>Unauthorised Access: {{error}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h1>{{error}}</h1>
<img src="https://png.pngtree.com/png-clipart/20230527/original/pngtree-red-cross-paint-clipart-transparent-background-png-image_9171931.png" style="height: 850px;width: 850px">
<br>
<br>
<br>
<br>
</body>
</html>