{% extends "base.html" %}

{% block headBlock %}
    <title>{{ team.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_stats.css') }}">
{% endblock %}

{% block bodyBlock %}

    <div class="row">
        <div class="col-sm-8">
            <a href="/{{ tournamentLink }}teams/{{ team.searchable_name }}">
                <img src="{{ team.image_url }}" class="team_logo" style="width: 200px;height: 200px"></a>
            <h1><a href="/{{ tournamentLink }}teams/{{ team.searchable_name }}" class="hide">Statistics
                for {{ team.name }}</a></h1>
            {% if tournamentLink %}
                <i><a class="hide" href="/teams/{{ team.searchable_name }}">Go To All-Time Stats</a></i>
                <br>
            {% endif %}
            <table class="jaredTable">
                <tbody>
                {% for title, stat in team.stats(filter).items() %}
                    <tr>
                        <th>{{ title }}:</th>
                        <td></td>
                        <td>{{ stat }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% for player in players %}
                <br>
                <h3>Statistics for <a class="hide"
                                      href="/{{ tournamentLink }}players/{{ player.searchable_name }}">{{ player.name }}</a>
                </h3>
                <table class="jaredTable">
                    <tbody>
                    {% for header, stat in player.stats(filter).items() %}
                        <tr>
                            <th>{{ header }}:</th>
                            <td></td>
                            <td>{{ stat }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <div style="min-height: 400px">
                <h2><a class="hide" href="/{{ tournamentLink }}fixtures/detailed?team={{ team.searchableName }}">Recent
                    Matches</a></h2>
                {% for line in recent_games %}
                    <p style="color: black;">{% if line[1] > -1 %}
                        <a class="hide" href="/games/{{ line[1] }}">
                    {% endif %}
                        {{ line[0] }}
                        {% if line[1] > -1 %}
                            </a>
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
            <div>
                <h2><a class="hide" href="/{{ tournamentLink }}fixtures/detailed?team={{ team.searchableName }}">Upcoming
                    Matches</a></h2>
                {% for line in upcoming_games %}
                    <p style="color: black;"><a class="hide" href="/games/{{ line[1] }}">{{ line[0] }}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}