{% extends "base.html" %}

{% block headBlock %}
    <title>{{ teams[0].name }} vs {{ teams[1].name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_stats.css') }}">
{% endblock %}

{% block bodyBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_game.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<div style="top:0;left:0;bottom: 100%;width: 66%">
    <h1><a href="/{{ tournament }}games/{{ game.id }}" class="hide">{{ teams[0].name }} vs {{ teams[1].name }}</a></h1>
    <h1 class="big"><a class="hide" href="/{{ tournament }}games/{{ game.id }}/display">{{ game.score_string }}</a>
    </h1>
    <p><b>Round:</b> <a class="hide"
                        href="/{{ tournament }}fixtures/detailed?round={{ roundNumber - 1 + game.is_final * game.tournament.fixtures.__len__() }}"><i>{{ roundNumber }}</i></a>
    </p>
    <p><b>Court:</b> <a class="hide"
                        href="/{{ tournament }}fixtures/detailed?court={{ game.court }}"><i>{{ game.court_display }}</i></a>
    </p>
    <p><b>Match Official:</b>{% if not game.bye %}
        <a class="hide" href="/{{ tournament }}officials/{{ official.nice_name() }}">{% endif %} <i>{{ official }}</i>
        {% if not game.bye %}</a> {% endif %}</p>
    {% if game.scorer.nice_name() != 'no_one' %}
        <p><b>Match Scorer:</b>
            <a class="hide" href="/{{ tournament }}officials/{{ game.scorer.nice_name() }}"> <i>{{ game.scorer }}</i>
            </a></p>
    {% endif %}
    <p>{% if not game.bye %}<a href="/{{ tournament }}games/{{ game.id }}/edit" class="hide">{% endif %}<b>Status:</b>
        {% if not game.bye %}</a>{% endif %} <i>{{ status }}</i></p>
    {% if game.start_time > 0 %}
        <p><b>Match Time:</b> <i>{{ game.nice_start_time }}</i></p>
    {% endif %}
    {% if game.best_player %}
        <p><b>Best on Court:</b> <a class="hide"
                                    href="/{{ tournament }}players/{{ game.best_player.nice_name() }}"><i>{{ best }}</i></a>
        </p>
    {% endif %}
    <br>
    <table class="jaredTable">
        <tr>
            <th><a href="/{{ tournament }}teams/{{ teams[0].nice_name() }}"
                   class="hide"><img
                    src="{{ teams[0].image() }}"
                    class="team_logo"
                    style="display: inline;left:70%;vertical-align:middle;"></a></th>
            <th class="invisible">Another spacer..</th>
            <th>
                {% if not game.bye %}<a href="/{{ tournament }}teams/{{ teams[1].nice_name() }}"
                                        class="hide">{% endif %}<img
                    src="{{ teams[1].image() }}"
                    class="team_logo"
                    style="display: inline;left:70%;vertical-align:middle;">{% if not game.bye %}</a>{% endif %}</th>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <table class="jaredTable">
        <tr>
            <td></td>
            <th colspan="{{ game.teams[0].has_subbed + 2 }}"><b><a
                    href="/{{ tournament }}teams/{{ teams[0].nice_name() }}"
                    class="hide">{{ teams[0].name }}</a></b></th>
            <th colspan="{{ game.teams[1].has_subbed + 2 }}"><b>{% if not game.bye %}
                <a href="/{{ tournament }}teams/{{ teams[1].nice_name() }}"
                   class="hide">{% endif %}{{ teams[1].name }}{% if not game.bye %}
                </a>{% endif %}</b></th>
            <th class="invisible">Spacerrrrrrr</th>
        </tr>
        {% for stat in stats %}
            <tr>
                <th>{{ stat[0] }}:</th>
                <td colspan="{{ game.teams[0].has_subbed + 2 }}">{{ stat[1] }}</td>
                <td colspan="{{ game.teams[1].has_subbed + 2 }}">{{ stat[2] }}</td>
            </tr>


        {% endfor %}

        <tr>
            <td></td>
            {% for i in game.playing_players %}
                <th {% if i.team.all_players.__len__() == 1 %}
                    colspan="2" {% endif %}
                ><a class="hide" href="/{{ tournament }}players/{{ i.nice_name() }}">
                    {{ i }}{% if i.subbed_on %} (sub){% endif %}{% if i.subbed_off %}*{% endif %}
                </a></th>
            {% endfor %}

        </tr>
        {% for i, title in headings %}
            <tr>
                <th>{{ title }}:</th>
                {% for j in game.playing_players %}
                    <td{% if j.team.all_players.__len__() == 1 %}
                        colspan="2" {% endif %}
                    >{{ player_stats[j.nice_name()][i] }}</td>

                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
<div style="top:70px;left:66% ; position: absolute;width: 33%">
    <div style="min-height: 200px">
        <h2>Other Matches</h2>
        {% for line in prev_matches %}
            <p style="color: black;">{% if line[1] > -1 %}
                <a class="hide" href="/{{ line[2].nice_name() }}/games/{{ line[1] }}">
            {% endif %}
                {{ line[0] }}
                {% if line[1] > -1 %}
                    </a>
                {% endif %}
            </p>
        {% endfor %}
    </div>
    <h2><a class="hide" href="/{{ tournament }}games/{{ game.id }}/admin"> Commentary</a></h2>
    {% for line in commentary %}
        <p style="color: black;">{{ line }}</p>
    {% endfor %}
</div>
{% endblock %}