{% extends "base.html" %}

{% block headBlock %}
    <title>Ladder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_ladder.css') }}">
{% endblock %}

{% block bodyBlock %}
<script src="{{ url_for('static', filename='js/sortTable.js') }}"></script>
<h1><a href="/{{tournament}}ladder/" class="hide">Ladder</a></h1>
{% for pool_name, pool_number, teams in ladder %}
<table class="jaredTable" id="sort{{ pool_number }}">
    <h2>{{ pool_name }}</h2>
    <thead>
    <tr>
        <th class="invisible">This is an image</th>
        {% for i, header, priority in headers %}
        <th onclick="sortTable({{ pool_number }}, {{i}})" class="{{priority}}" ><b>{{header}}</b></th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>

    {% for position, team in teams %}
    <tr>
        <th><a href="/{{tournament}}teams/{{team.searchableName}}" class="hide"
               style="left: 30%;"><img
                src="{{team.image}}" class="team_logo"
                style="display: inline;left:70%;width: 50px;height: 50px;vertical-align:middle;"></a></th>
        <th style="text-align: left;"><a href="/{{tournament}}teams/{{team.searchableName}}"
                                         class="hide">{{team.name}}</a>
        </th>
        {% for _, k, _ in headers %}
        <td class="{{priority[k]}}">{{ team.stats[k] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}