{% extends "base.html" %}

{% block headBlock %}
    <title>Ladder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_ladder.css') }}">
{% endblock %}

{% block bodyBlock %}
<script src="{{ url_for('static', filename='js/sortTable.js') }}"></script>
<h1><a href="/{{tournament}}ladder/" class="hide">Ladder</a></h1>
{% for t, j, k in teams %}
<table class="jaredTable" id="sort{{ k }}">
    <h2>{{ j }}</h2>
    <thead>
    <tr>
        <th class="invisible">This is an image</th>
        {% for i, h, p in headers %}
        <th onclick="sortTable({{ k }}, {{i}})" class="{{p}}" ><b>{{h}}</b></th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>

    {% for i, link, link2, team in t %}
    <tr>
        <th><a href="/{{tournament}}teams/{{link}}" class="hide"
               style="left: 30%;"><img
                src="{{link2}}" class="team_logo"
                style="display: inline;left:70%;width: 50px;height: 50px;vertical-align:middle;"></a></th>
        <th style="text-align: left;"><a href="/{{tournament}}teams/{{link}}"
                                         class="hide">{{i}}</a>
        </th>
        {% for stat, p in team %}
        <td class="{{p}}">{{ stat }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}