<!DOCTYPE html>
<html>
<head>
    <title>Statistics for {{ player.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_stats.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<nav id="navBar"></nav>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/stats.js') }}"></script>
<script>load("{{tournament}}")</script>

<div style="top:0;left:0;bottom: 100%;width: 66%">
    <a href="/{{ tournament }}teams/{{ player.team.nice_name() }}">
        <img src="/api/teams/image?name={{ player.team.nice_name() }}" class="team_logo"></a>
    <h1><a href="/{{ tournament }}players/{{ player.nice_name() }}" class="hide">Statistics for {{ player.name }}</a>
    </h1>
    <table class="table">
        <tbody>
        {% for stat in stats %}
            {% if stat[1].__str__().startswith("{") %}
                <tr>
                    <td colspan="10" style="text-align: center"><h2>{{ stat[0] }}</h2></td>
                </tr>
                {% for stat2 in stat[1].items() %}
                    <tr>
                        <th>{{ stat2[0] }}:</th>
                        <td></td>
                        <td>{{ stat2[1] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th>{{ stat[0] }}:</th>
                    <td></td>
                    <td>{{ stat[1] }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="top:70px;left:66% ; position: absolute;width: 33%">
    <h2>Insights</h2>
    <label for="x-axis">X Axis</label>
    <select name="x-axis" id="x-axis" onchange="reloadGraph('{{ tournament }}')">
        {% for i in insights %}
            <option value="{{ i }}">{{ i }}</option>
        {% endfor %}

    </select>
    <br>
    <label for="y-axis">Y Axis</label>
    <select name="y-axis" id="y-axis" onchange="reloadGraph('{{ tournament }}')">
        {% for i in insights %}
            {% if i != 'Timeline' %}
                <option value="{{ i }}">{{ i }}</option>
            {% endif %}

        {% endfor %}
        <option value="Frequency">Frequency</option>
    </select>
    <br>
    <br>
    <iframe id="graph"
            src="/graphs/game_player?x=Points scored&y=Aces&player={{ player.nice_name() }}&tournament={{ tournament.replace('/','') }}"
            width="400" height="300" title="Embedded Page"></iframe>
    <div style="min-height: 400px">
        <h2><a class="hide" href="/{{ tournament }}fixtures/detailed?player={{ player.nice_name() }}">Recent Matches</a>
        </h2>
        {% for line in recent_games %}
            <p style="color: black;"><a class="hide" href="/{{ line[2] }}/games/{{ line[1] }}">{{ line[0] }}</a></p>
        {% endfor %}
    </div>
    <div>
        <h2><a class="hide" href="/{{ tournament }}fixtures/detailed?player={{ player.nice_name() }}">Upcoming
            Matches</a></h2>
        {% for line in upcoming_games %}
            <p style="color: black;"><a class="hide" href="/{{ line[2] }}/games/{{ line[1] }}">{{ line[0] }}</a></p>
        {% endfor %}
    </div>
</div>

</body>
</html>