{% extends "base.html" %}

{% block headBlock %}
    <title>Statistics for {{ player.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_stats.css') }}">
{% endblock %}

{% block bodyBlock %}
    <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
    <div class="row">
        <div class="col-sm-8">
            <a href="/{{ tournamentLink }}teams/{{ team }}">
                <img src="/api/teams/image?name={{ team }}" class="team_logo"></a>
            <h1><a href="/{{ tournamentLink }}players/{{ player }}" class="hide">Statistics for {{ name }}</a></h1>
            <table class="jaredTable">
                <tbody>
                {% for k, v in stats.items() %}
                    {% if v.__str__().startswith("{") %}
                        <tr>
                            <td colspan="10" style="text-align: center"><h2>{{ k }}</h2></td>
                        </tr>
                        {% for stat2 in v.items() %}
                            <tr>
                                <th>{{ stat2[0] }}:</th>
                                <td></td>
                                <td>{{ stat2[1] }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <th>{{ k }}:</th>
                            <td></td>
                            <td>{{ v }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <h2>Insights</h2>
            <label for="x-axis">X Axis</label>
            <select name="x-axis" id="x-axis" onchange="reloadGraph('{{ tournamentLink }}')">
                {% for i in insights %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}

            </select>
            <br>
            <label for="y-axis">Y Axis</label>
            <select name="y-axis" id="y-axis" onchange="reloadGraph('{{ tournamentLink }}')">
                {% for i in insights %}
                    {% if i != 'Timeline' %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endif %}

                {% endfor %}
                <option value="Frequency">Frequency</option>
            </select>
            <br>
            <br>
            <iframe id="graph"
                    src="/graphs/game_player?x=Points Scored&y=Aces&player={{ player.searchable_name }}&tournament={{ tournamentLink.replace('/','') }}"
                    width="400" height="300" title="Embedded Page"></iframe>
            <div style="min-height: 400px">
                <h2><a class="hide" href="/{{ tournamentLink }}fixtures/detailed?player={{ player }}">Recent Matches</a>
                </h2>
                {% for line in recent_games %}
                    <p style="color: black;"><a class="hide" href="/games/{{ line[1] }}">{{ line[0] }}</a></p>
                {% endfor %}
            </div>
            <div>
                <h2><a class="hide" href="/{{ tournamentLink }}fixtures/detailed?player={{ player }}">Upcoming
                    Matches</a>
                </h2>
                {% for line in upcoming_games %}
                    <p style="color: black;"><a class="hide" href="/games/{{ line[1] }}">{{ line[0] }}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}