{% extends "base.html" %}

{% block headBlock %}
    <title>Player Stats</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_ladder.css') }}">
{% endblock %}

{% block bodyBlock %}
<script src="{{ url_for('static', filename='js/sortTable.js') }}"></script>
<h1><a href="/{{tournament}}players/" class="hide">Players</a></h1>
<table class="jaredTable" id="sort0">
    <thead>
    <tr>
        <th class="invisible">This is an image</th>
        {% for i, h, p in headers %}
        <th onclick="sortTable(0, {{i}})" class="{{ p }}" ><b>{{h}}</b></th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for name, image, link, player in players %}
    <tr>
        <th><a href="/{{tournament}}players/{{link}}" class="hide"
               style="left: 30%;"><img
                src="{{image}}" class="team_logo"
                style="display: inline;left:70%;width: 50px;height: 50px;vertical-align:middle;"></a></th>
        <th style="text-align: left;"><a href="/{{tournament}}players/{{link}}"
                                         class="hide">{{name}}</a>
        </th>
        {% for stat, p in player %}
        <td class="{{p}}">{{ stat }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}