<!DOCTYPE html>
<html>
<head>
    <title>{{ teams[0].name }} vs {{ teams[1].name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scoreboard.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<nav id="navBar"></nav>
<script src="{{ url_for('static', filename='js/scoreboard.js') }}"></script>
<script>
    setup({{game.id}}, {{ update_count }})
    setTournament("{{tournamentLink}}")
</script>
<script>main("{{tournamentLink}}")</script>
{% if timeout_time > 0 %}
    <div class="overlay"><h1 class="big" style="top: 50%" id="timeout">30</h1></div>
    <script>timeout({{ timeout_time }})</script>
{% endif %}
{% if game.type == "Ace" %}
    <img class="fireworks" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9dc7dbc3-a681-4ed0-81e2-c946e99072fa/d4vtgue-3509d1a9-38af-46ca-bca0-f5b8fc6abcbf.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzlkYzdkYmMzLWE2ODEtNGVkMC04MWUyLWM5NDZlOTkwNzJmYVwvZDR2dGd1ZS0zNTA5ZDFhOS0zOGFmLTQ2Y2EtYmNhMC1mNWI4ZmM2YWJjYmYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.EhvW0d0fBIkm43RisL6trc9cSbj7NEt0TOJaS2NMgGs" width="50%" height="50%" style="left: 25%;top:25%; position: fixed">
    <img class="fireworks" src="https://media3.giphy.com/media/Kb4RDCo71f5MXBCLRd/200w.gif?cid=6c09b9524g4v3dz97k46gulkpt33sgr5xzzje5vl98o1dcio&ep=v1_gifs_search&rid=200w.gif&ct=g" width="25%" height="25%" style="left: 75%;top:0; position: fixed">
    <img class="fireworks" src="https://media3.giphy.com/media/Kb4RDCo71f5MXBCLRd/200w.gif?cid=6c09b9524g4v3dz97k46gulkpt33sgr5xzzje5vl98o1dcio&ep=v1_gifs_search&rid=200w.gif&ct=g" width="25%" height="25%" style="left: 0;top:0; position: fixed">
    <img class="fireworks" src="https://media0.giphy.com/media/pOweqzx4UPgDbN0WuZ/200w.gif?cid=6c09b952laalfjeh7fi0og5g6nvs3nk4d8g6y37338e5ctz3&ep=v1_gifs_search&rid=200w.gif&ct=g" width="25%" height="25%" style="left: 75%;top:75%; position: fixed">
    <img class="fireworks" src="https://media0.giphy.com/media/pOweqzx4UPgDbN0WuZ/200w.gif?cid=6c09b952laalfjeh7fi0og5g6nvs3nk4d8g6y37338e5ctz3&ep=v1_gifs_search&rid=200w.gif&ct=g" width="25%" height="25%" style="left: 0;top:75%; position: fixed">
    <img class="fireworks" src="https://images-ext-1.discordapp.net/external/Mg60pUNZGHEt5bZyrXjhtlti0X5HVtIkwNHeQeDnmuA/https/25.media.tumblr.com/98122aad1d347b3da54f36d5c13642c2/tumblr_mjohj5vsuR1s3zmnwo1_500.gif" width="25%" height="25%" style="left: 20%;top:45%; position: fixed">
    <img class="fireworks" src="https://i.pinimg.com/originals/fd/d0/0e/fdd00eff2cfe977daed3584f56eafbc9.gif" width="100%" height="100%" style="left: 0;top:0; position: fixed">
    <img class="fireworks" src="https://i.kym-cdn.com/photos/images/original/002/111/321/98a.gif" width="25%" height="25%" style="left: 60%;top:13%; position: fixed">
    <img class="fireworks" src="https://cliply.co/wp-content/uploads/2021/09/CLIPLY_372109170_FREE_FIREWORKS_400.gif" width="100%" height="100%" style="left: 0; position: fixed">
    <img class="fireworks" src="https://i.pinimg.com/originals/29/8f/2c/298f2ce6dead72fe992253c5ba0eba95.gif" width="25%" height="25%" style="left: 75%;top:60%; position: fixed">
    <img class="fireworks rotate bigger" src="https://gifdb.com/images/high/cuba-flag-raised-waving-55hxfr38lnhu97zp.gif" width="10%" height="10%" style="left: 17%;top:30%; position: fixed">
    <img class="fireworks" src="https://i.pinimg.com/originals/29/8f/2c/298f2ce6dead72fe992253c5ba0eba95.gif" width="25%" height="25%" style="left: 25%;top:25%; position: fixed">
    <img class="fireworks" src="https://i.pinimg.com/originals/29/8f/2c/298f2ce6dead72fe992253c5ba0eba95.gif" width="25%" height="25%" style="left: 10%;top:10%; position: fixed">
    <img class="fireworks" src="https://i.pinimg.com/originals/29/8f/2c/298f2ce6dead72fe992253c5ba0eba95.gif" width="25%" height="25%" style="left: 70%;top:33%; position: fixed">
    <img class="fireworks" src="https://i.gifer.com/WS2k.gif" width="25%" height="25%" style="left: 10%;top:80%; position: fixed">
    <img class="fireworks" src="https://i.gifer.com/WS2k.gif" width="25%" height="25%" style="left: 60%;top:13%; position: fixed">

    <p style="font-family: 'Comic Sans MS',sans-serif;font-size: 200px;position: fixed;top:0;left:45%;z-index: 999;color: red" class="rotate fireworks">ACe</p>
    <script>deleteFireworks()</script>
{% endif %}
<table class="jaredTable">
    <tr>
        <td><a class="hide" href="/{{ tournamentLink }}teams/{{ teams[0].searchableName }}"><h1
                style="font-size: 50px">{{ teams[0].name }}</h1></a></td>
        <td><a href="/games/{{ game.id }}" class="hide"><h1 style="font-size: 50px"> vs </h1></a></td>
        <td><a class="hide" href="/{{ tournamentLink }}teams/{{ teams[1].searchableName }}"><h1
                style="font-size: 50px">{{ teams[1].name }} </h1></a></td>
    </tr>
    <tr>
        <th><a href="/{{ tournamentLink }}teams/{{ teams[0].searchableName }}"
               class="hide"><img
                src="{{ teams[0].imageUrl }}"
                class="team_logo"
                style="display: inline;left:70%;vertical-align:middle;"></a></th>
        <th><p><b>Round:</b> <i>{{ game.round }}</i></p>
            <p><b>Court:</b> <a class="hide"
                                href="/{{ tournamentLink }}fixtures/detailed?court={{ game.court }}"><i>{{ game.court + 1 }}</i></a>
            </p>
            <p><b>Official:</b>
                <a class="hide" href="/{{ tournamentLink }}officials/{{ game.umpireSearchableName }}">
                    <i>{{ game.umpire }}</i>
                </a></p>
            {% if game.scorerSearchableName != 'none_one' %}
                <p><b>Scorer:</b>
                    <a class="hide" href="/{{ tournamentLink }}officials/{{ game.scorerSearchableName }}">
                        <i>{{ game.scorer }}</i>
                    </a></p>
            {% endif %}
            <h1 id="serveClock" style="font-size: 50px; color:#000000">0.0</h1>
            <script>serveClock({{ serve_time }})</script>
        </th>
        <th><a href="/{{ tournamentLink }}teams/{{ teams[1].searchableName }}"
               class="hide"><img
                src="{{ teams[1].imageUrl }}"
                class="team_logo"
                style="display: inline;left:70%;vertical-align:middle;"></a></th>
    </tr>
    <tr>
        <td style="font-size: 20px; color:#{{ '006600' if teams[0].timeouts > 0 else '660000' }}"><b>Timeout</b></td>
        <td></td>
        <td style="font-size: 20px; color:#{{ '006600' if teams[1].timeouts > 0 else '660000' }}"><b>Timeout</b></td>
    </tr>
    <tr>
        <td>
            <h1 class="big">{{ teams[0].score }}</h1>
        </td>
        <td><h1 class="big">-</h1></td>
        <td>
            <h1 class="big">{{ teams[1].score }}</h1>
        </td>
    </tr>
    <tr>
        <td>
            {% if teams[0].cardTimeRemaining > 0 %}
                <div class="rectangle {% if game.type == "Yellow Card" %}yellow_card{% endif %}" style="background-color: #FCCE6E; color: #FCCE6E;width:{{ 100*(teams[0].cardTimeRemaining) / teams[0].cardTime }}%">Yellow Card</div>
            {% endif %}
            {% if teams[0].cardTimeRemaining < 0 %}
                <div class="rectangle {% if game.type == "Red Card" %}red_card{% endif %}" style="background-color: #EC4A4A; color:#EC4A4A; width:100%">Red Card</div>
            {% endif %}
        </td>
        <td></td>
        <td>
            {% if teams[1].cardTimeRemaining > 0 %}
                <div class="rectangle {% if game.type == "Yellow Card" %}yellow_card{% endif %}" style="background-color: #FCCE6E; color: #FCCE6E;width:{{ 100*(teams[1].cardTimeRemaining) / teams[1].cardTime }}%">Yellow Card</div>
            {% endif %}
            {% if teams[1].cardTimeRemaining < 0 %}
                <div class="rectangle {% if game.type == "Red Card" %}red_card{% endif %}" style="background-color: #EC4A4A; color:#EC4A4A; width:100%">Red Card</div>
            {% endif %}
        </td>
    </tr>
    {# TODO: this will break if team one has a different amount of players to team two #}
    {% for i in range(teams[0].players.__len__()) %}
        <tr>
            <td style="color: {{ teams[0].players[i].card_hex }}; font-size: 40px">
                <a class="hide" href="/{{ tournamentLink }}players/{{ teams[0].players[i].searchableName }}">
                    {% if teams[0].players[i].cardTimeRemaining != 0 %}
                        <s>
                    {% endif %}
                    {% if not teams[0].players[i].serving %}
                        <i>
                    {% else %}
                        {% if game.faulted %}
                            <u>
                        {% endif %}
                        <b> >
                    {% endif %}
                    {{ teams[0].players[i].name }}
                    {% if teams[0].players[i].serving %}
                        ({{ game.serverSide[0] }})
                        </b>
                        {% if game.faulted %}
                            </u>
                        {% endif %}
                    {% else %}
                        </i>
                    {% endif %}
                    {% if teams[0].players[i].cardTimeRemaining != 0 %}
                        </s>
                    {% endif %}
                </a>
            </td>
            <td></td>
            <td style="color: {{ teams[1].players[i].card_hex }}; font-size: 40px">
                <a class="hide" href="/{{ tournamentLink }}players/{{ teams[1].players[i].searchableName }}">
                    {% if teams[1].players[i].cardTimeRemaining != 0 %}
                        <s>
                    {% endif %}
                    {% if not teams[1].players[i].serving %}
                        <i>
                    {% else %}
                        {% if game.faulted %}
                            <u>
                        {% endif %}
                        <b> >
                    {% endif %}
                    {{ teams[1].players[i].name }}
                    {% if teams[1].players[i].serving %}
                        ({{ game.serverSide[0] }})
                        </b>
                        {% if game.faulted %}
                            </u>
                        {% endif %}
                    {% else %}
                        </i>
                    {% endif %}
                    {% if teams[1].players[i].cardTimeRemaining != 0 %}
                        </s>
                    {% endif %}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<input type="number" id="jump" style="width: 40px">
<a href="#" onclick="jump()" class="hide">Jump</a>
<p>
    <a href="/games/{{ game.id - 1 }}/display" class="hide">Previous Game</a>
    |
    <a href="#" onclick="swap()" class="hide">Swap Sides</a>
    |
    <a href="/games/{{ game.id + 1 }}/display" class="hide">Next Game</a>
</p>
</body>
</html>