<!DOCTYPE html>
<html>
<head>
    <title>{{ teams[0].name }} vs {{ teams[1].name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scoreboard.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div id="navBar"></div>
<script src="{{ url_for('static', filename='js/scoreboard.js') }}"></script>
<script>
    setup({{game.id}}, {{ update_count }})
    setTournament("{{tournament}}")
</script>
<script>main("{{tournament}}")</script>
{% if game.in_timeout() %}
    <div class="overlay"><h1 class="big" style="top: 50%" id="timeout">30</h1></div>
    <script>timeout({{ timeout_time }})</script>
{% endif %}
<table class="table">

    <tr>
        <td><a class="hide" href="/{{ tournament }}teams/{{ teams[0].nice_name() }}"><h1
                style="font-size: 50px">{{ teams[0].name }}</h1></a></td>
        <td><a href="/{{ tournament }}games/{{ game.id }}" class="hide"><h1 style="font-size: 50px"> vs </h1></a></td>
        <td><a class="hide" href="/{{ tournament }}teams/{{ teams[1].nice_name() }}"><h1
                style="font-size: 50px">{{ teams[1].name }} </h1></a></td>
    </tr>
    <tr>
        <th><a href="/{{ tournament }}teams/{{ teams[0].nice_name() }}"
               class="hide"><img
                src="{{ teams[0].image() }}"
                class="team_logo"
                style="display: inline;left:70%;vertical-align:middle;"></a></th>
        <th><p><b>Round:</b> <i>{{ roundNumber }}</i></p>
            <p><b>Court:</b> <a class="hide"
                                href="/{{ tournament }}fixtures/detailed?court={{ game.court }}"><i>{{ game.court + 1 }}</i></a>
            </p>
            <p><b>Official:</b>{% if not game.bye %}
                <a class="hide" href="/{{ tournament }}officials/{{ official.nice_name() }}">{% endif %}
                <i>{{ official }}</i>
                {% if not game.bye %}</a> {% endif %}</p>
            {% if game.scorer.nice_name() != 'none_one' %}
                <p><b>Scorer:</b>
                    <a class="hide" href="/{{ tournament }}officials/{{ game.scorer.nice_name() }}"> <i>{{ game.scorer }}</i>
                    </a></p>
            {% endif %}
            <h1 id="serveClock" style="font-size: 50px; color:#000000">0.0</h1>
            <script>serveClock({{ serve_time }})</script>
        </th>
        <th>
            {% if not game.bye %}<a href="/{{ tournament }}teams/{{ teams[1].nice_name() }}"
                                    class="hide">{% endif %}<img
                src="{{ teams[1].image() }}"
                class="team_logo"
                style="display: inline;left:70%;vertical-align:middle;">{% if not game.bye %}</a>{% endif %}</th>
    </tr>
    <tr>
        <td style="font-size: 20px; color:#{{ '006600' if teams[0].timeouts > 0 else '660000' }}"><b>Timeout</b></td>
        <td></td>
        <td style="font-size: 20px; color:#{{ '006600' if teams[1].timeouts > 0 else '660000' }}"><b>Timeout</b></td>
    </tr>
    <tr>
        <td>
            <h1 class="big">{{ teams[0].score }}</h1>
        </td>
        <td><h1 class="big">-</h1></td>
        <td>
            <h1 class="big">{{ teams[1].score }}</h1>
        </td>
    </tr>
    <tr>
        <td>
            {% if teams[0].card_time() > 0 %}
                <div class="rectangle"
                     style="background-color: #FCCE6E;width:{{ 100*(teams[0].card_time()) / teams[0].card_duration() }}%"></div>
            {% endif %}
            {% if teams[0].card_time() < 0 %}
                <div class="rectangle" style="background-color: #EC4A4A; width:100%"></div>
            {% endif %}
        </td>
        <td></td>
        <td>
            {% if teams[1].card_time() > 0 %}
                <div class="rectangle"
                     style="background-color: #FCCE6E;width:{{ 100*(teams[1].card_time()) / teams[1].card_duration() }}%"></div>
            {% endif %}
            {% if teams[1].card_time() < 0 %}
                <div class="rectangle" style="background-color: #EC4A4A"></div>
            {% endif %}
        </td>
    </tr>
    {% for i in range(2) %}
        <tr>
            <td style="color: {{ teams[0].players[i].biggest_card_hex() }}; font-size: 45px">
                <a class="hide" href="/{{ tournament }}players/{{ teams[0].players[i].nice_name() }}">
                    {% if not teams[0].players[i].serving() %}
                        <i>
                    {% else %}
                        {% if teams[0].faulted %}
                            <u>
                        {% endif %}
                        <b> >
                    {% endif %}
                    {% if teams[0].players[i].is_carded() %}
                        <s>
                    {% endif %}
                    {{ teams[0].players[i] }}
                    {% if teams[0].players[i].is_carded() %}
                        </s>
                    {% endif %}
                    {% if teams[0].players[i].serving() %}
                        </b>
                        {% if teams[0].faulted %}
                            </u>
                        {% endif %}
                    {% else %}
                        </i>
                    {% endif %}
                </a>
            </td>
            <td></td>
            <td style="color: {{ teams[1].players[i].biggest_card_hex() }}; font-size: 45px">
                <a class="hide" href="/{{ tournament }}players/{{ teams[1].players[i].nice_name() }}">
                    {% if not teams[1].players[i].serving() %}
                        <i>
                    {% else %}
                        {% if teams[1].faulted %}
                            <u>
                        {% endif %}
                        <b> >
                    {% endif %}
                    {% if teams[1].players[i].is_carded() %}
                        <s>
                    {% endif %}
                    {{ teams[1].players[i] }}
                    {% if teams[1].players[i].is_carded() %}
                        </s>
                    {% endif %}
                    {% if teams[1].players[i].serving() %}
                        </b>
                        {% if teams[1].faulted %}
                            </u>
                        {% endif %}
                    {% else %}
                        </i>
                    {% endif %}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>
    <a href="/{{ tournament }}games/{{ game.id - 1 }}/display" class="hide">Previous Game</a>
    |
    <a href="#" onclick="swap()" class="hide">Swap Sides</a>
    |
    <a href="/{{ tournament }}games/{{ game.id + 1 }}/display" class="hide">Next Game</a>
</p>
</body>
</html>