{% extends "base.html" %}

{% block headBlock %}
    <title>Fixtures</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block bodyBlock %}
<h1><a href="/{{ tournament }}fixtures" class="hide">Fixtures</a></h1>
<p><i><a href="/{{ tournamentLink }}fixtures/detailed" class="hide">Show More</a></i></p>

<table class="jaredTable">
    <thead>
    <tr>
        <td></td>
        <th style="width: 220px"><b>First Team</b></th>
        <th></th>
        <th style="width: 220px"><b>Second Team</b></th>
        <th style="width: 100px"><b>Result</b></th>
    </tr>
    </thead>
    <tbody>
    <tr><td colspan="999"><hr></td></tr>
    {% for i, round in fixtures %}
        <tr>
            <th rowspan="{{ round.__len__() + 1 }}" style="font-size: 18px">Round {{ i }}</th>
        </tr>
        {% for game in round %}
            <tr>
                <td><a href="/games/{{ game.id }}" class="hide">{{ game.team_one.name }}</a></td>
                <td><a href="/games/{{ game.id }}" class="hide"> vs</a></td>
                <td><a href="/games/{{ game.id }}" class="hide">{{ game.team_two.name }}</a></td>
                <td><a href="/games/{{ game.id }}" class="hide">{{ game.team_one_score }} - {{ game.team_two_score }}</a></td>
            </tr>
        {% endfor %}
        <tr><td colspan="999"><hr></td></tr>
    {% endfor %}
    {% if finals %}
        <tr>
        <td></td>
            <th colspan="3" style="font-size: 30px"><b>Finals:</b></th>
        </tr>
        <tr><td colspan="999"><hr></td></tr>
        {% for i, round in finals %}
            <tr>
                <th rowspan="{{ round.__len__() + 1 }}" style="font-size: 18px">Round {{ i }}</th>
            </tr>
            {% for game in round %}
                <tr>
                    <td><a href="/games/{{ game.id }}" class="hide">{{ game.team_one.name }}</a></td>
                    <td><a href="/games/{{ game.id }}" class="hide"> vs</a></td>
                    <td><a href="/games/{{ game.id }}" class="hide">{{ game.team_two.name }}</a></td>
                    <td><a href="/games/{{ game.id }}" class="hide">{{ game.team_one_score }} - {{ game.team_two_score }}</a></td>
                </tr>
            {% endfor %}
            <tr><td colspan="999"><hr></td></tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}