{% extends "base.html" %}

{% block headBlock %}
    <title>Fixtures</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block bodyBlock %}
<div>
<h1><a href="/{{ tournamentLink }}fixtures/detailed" class="hide">Fixtures</a>
{% if reset %}
<i style="font-size: 16px;font-weight: normal"><a href="/{{ tournamentLink }}fixtures/detailed" class="hide">(reset)</a></i>
{% endif %}
</h1>
</div>
<p><i><a href="/{{ tournamentLink }}fixtures" class="hide">Show Less</a></i></p>
<table class="jaredTable">
    <thead>
    <tr>
        <th style="width: 220px;"><b>First Team</b></th>
        <th></th>
        <th style="width: 220px;"><b>Second Team</b></th>
        <th style="width: 100px;"><b>Umpire</b></th>
        {% if t.scorer %}
            <th style="width: 100px;"><b>Scorer</b></th> {% endif %}
        {% if t.twoCourts %}
            <th  style="width: 100px;"><b>Court</b></th> {% endif %}

        <th><b>Result</b></th>
    </tr>
    </thead>
    <tbody>
    {% for i, round in fixtures %}
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <th colspan="7" style="font-size: 18px"><a href="/{{ tournamentLink }}fixtures/detailed?round={{ i }}" class ="hide">Round {{ i }}</a></th>
        </tr>
        {% for game in round %}

            <tr>
                <td><a href="/games/{{ game.id }}" class="hide">{{ game.teams[0] }}</a></td>
                <td><a href="/games/{{ game.id }}" class="hide"> vs </a></td>
                <td><a href="/games/{{ game.id }}" class="hide">{{ game.teams[1] }}</a></td>
                <td><a href="/{{ tournamentLink }}officials/{{ game.umpireqSearchableName }}"
                       class="hide"><i>{{ game.umpire }}</i></a></td>
                {% if t.scorer %}
                    <td><i><a href="/{{ tournamentLink }}officials/{{ game.scorerSearchableName }}"
                              class="hide">{{ game.scorer }}</a></i></td> {% endif %}
                {% if t.twoCourts %}
                    <td><a href="/{{ tournamentLink }}fixtures/detailed?court={{ game.court }}"
                           class="hide">{{ game.court_name }}</a></td> {% endif %}
                <td><a href="/games/{{ game.id }}" class="hide">{{ game.score_string }}</a></td>
            </tr>
        {% endfor %}
    {% endfor %}
    {% if finals %}
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <th colspan="7"><b>Finals:</b></th>
        </tr>

        {% for i, round in finals %}
            <tr>
                <th colspan="7" style="font-size: 18px"><a href="/{{ tournamentLink }}fixtures/detailed?round={{ i }}" class ="hide">Round {{ i }}</a></th>
            </tr>
            {% for game in round %}
                <tr>
                    <td><a href="/games/{{ game.id }}" class="hide">{{ game.teams[0] }}</a></td>
                    <td><a href="/games/{{ game.id }}" class="hide"> vs</a></td>
                    <td><a href="/games/{{ game.id }}" class="hide">{{ game.teams[1] }}</a></td>
                    <td><a href="/{{ tournamentLink }}fixtures/detailed?umpire={{ game.umpireSearchableName }}"
                           class="hide"><i>{{ game.umpire }}</i></a></td>
                    {% if t.scorer %}
                        <td><i><a href="/{{ tournamentLink }}officials/{{ game.scorerSearchableName }}"
                                  class="hide">{{ game.scorer }}</a></i></td> {% endif %}
                    {% if t.twoCourts %}
                        <td><a href="/{{ tournamentLink }}fixtures/detailed?court={{ game.court }}"
                               class="hide">{{ game.court_name }}</a></td> {% endif %}
                    <td><a href="/games/{{ game.id }}" class="hide">{{ game.score_string }}</a></td>
                </tr>

            {% endfor %}
            <tr>
                <td><br></td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}