{% extends "base.html" %}

{% block headBlock %}
    <title>Fixtures</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block bodyBlock %}
<div>
<h1><a href="/{{ tournamentLink }}fixtures/detailed" class="hide">Fixtures</a>
{% if reset %}
<i style="font-size: 16px;font-weight: normal"><a href="/{{ tournamentLink }}fixtures/detailed" class="hide">(reset)</a></i>
{% endif %}
</h1>
</div>
<p><i><a href="/{{ tournamentLink }}fixtures" class="hide">Show Less</a></i></p>
<table class="jaredTable">
    <thead>
    <tr>
    <td></td>
        <th style="width: 220px;"><b>First Team</b></th>
        <th></th>
        <th style="width: 220px;"><b>Second Team</b></th>
        <th style="width: 100px;"><b>Official</b></th>
        {% if t.has_scorer %}
            <th style="width: 100px;"><b>Scorer</b></th> {% endif %}
        {% if t.two_courts %}
            <th  style="width: 100px;"><b>Court</b></th> {% endif %}

        <th><b>Result</b></th>
    </tr>
    </thead>
    <tbody>
    <tr><td colspan="999"><hr></td></tr>

    {% for i, round in fixtures %}
        <tr>
            <th rowspan="{{ round.__len__() + 1 }}" style="font-size: 18px">Round {{ i }}</th>
        </tr>
        {% for game in round %}

            <tr>
                <td><a href="/games/{{ game.id }}" class="hide">{{ game.team_one.name }}</a></td>
                <td><a href="/games/{{ game.id }}" class="hide"> vs </a></td>
                <td><a href="/games/{{ game.id }}" class="hide">{{ game.team_two.name }}</a></td>
                <td><a href="/games/{{ game.id }}"
                       class="hide"><i>{{ game.official.person.name if game.official else '-' }}</i></a></td>
                {% if t.has_scorer %}
                    <td><i><a href="/games/{{ game.id }}"
                              class="hide">{{ game.scorer.person.name if game.scorer else '-' }}</a></i></td> {% endif %}
                {% if t.two_courts %}
                    <td><a href="/{{ tournamentLink }}fixtures/detailed?court={{ game.court }}"
                           class="hide">Court {{ game.court + 1 }}</a></td> {% endif %}
                <td><a href="/games/{{ game.id }}" class="hide">{{ game.team_one_score }} - {{ game.team_two_score }}</a></td>
            </tr>

        {% endfor %}
        <tr><td colspan="999"><hr></td></tr>
    {% endfor %}
    {% if finals %}
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <th colspan="7" style="font-size: 30px"><b>Finals:</b></th>
        </tr>
        <tr><td colspan="999"><hr></td></tr>
        {% for i, round in finals %}
            <tr>
                <th rowspan="{{ round.__len__() + 1 }}" style="font-size: 18px">Round {{ i }}</th>
            </tr>
            {% for game in round %}
                <tr>
                    <td><a href="/games/{{ game.id }}" class="hide">{{ game.team_one.name }}</a></td>
                    <td><a href="/games/{{ game.id }}" class="hide"> vs </a></td>
                    <td><a href="/games/{{ game.id }}" class="hide">{{ game.team_two.name }}</a></td>
                    <td><a href="/games/{{ game.id }}"
                           class="hide"><i>{{ game.official.person.name }}</i></a></td>
                    {% if t.has_scorer %}
                        <td><i><a href="/games/{{ game.id }}"
                                  class="hide">{{ game.scorer.person.name }}</a></i></td> {% endif %}
                    {% if t.two_courts %}
                        <td><a href="/{{ tournamentLink }}fixtures/detailed?court={{ game.court }}"
                               class="hide">Court {{ game.court + 1 }}</a></td> {% endif %}
                    <td><a href="/games/{{ game.id }}" class="hide">{{ game.team_one_score }} - {{ game.team_two_score }}</a></td>
                </tr>

            {% endfor %}
            <tr><td colspan="999"><hr></td></tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}