<!DOCTYPE html>
<html>
<head>
    <title>Teams List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_stats.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div id="navBar"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>load("{{tournament}}")</script>

<h1><a href="/{{tournament}}teams/" class="hide">Teams</a></h1>
{% for team in teams %}
<table class="table">
    <tr>
        <td style="width:100px;"><a href="/{{tournament}}teams/{{team[1]}}"
                                    class="hide"><img
                src="/api/teams/image?name={{team[1]}}" class="team_logo"
                style="width: 75px; height: 75px;"
        ></a></td>


        <td style="width:200px;"><a href="/{{tournament}}teams/{{team[1]}}" class="hide"><h3>{{team[0]}}</h3></a></td>
    </tr>
</table>

{% endfor %}
</body>
</html>