{% extends "base.html" %}

{% block headBlock %}
    <title>{{ current_tournament.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block bodyBlock %}
    <a href="/{{ current_tournament.link }}">
        <img src="/api/tournaments/image?name={{ tourney.searchableName }}" class="title_logo"></a>
    <h1><a href="/{{ current_tournament.link }}" class="hide">{{ tourney.name }}</a></h1>
    <div class="row">
        <div class="col">
            <div style="min-height: 200px">

                {% if not ongoing %}
                    {% if tourney.editable %}
                        <h2>Create Games</h2>
                        <br>
                        <br>
                        <button class="button" onclick="document.location.href = '{{ current_tournament.link }}create'">
                            New Game
                        </button>
                    {% else %}
                        <h2>Ongoing Games</h2>
                        <br><br>
                        <i>No Ongoing Games</i>
                    {% endif %}

                {% else %}
                    <h2>Ongoing Games</h2>
                    <table class="jaredTable">
                    <tbody>
                    <tr>
                        <th>Team One</th>
                        <td></td>
                        <th>Team Two</th>
                        <th>Score</th>
                        {% for i in ongoing %}
                            <tr>
                                <td><a href="{{ current_tournament.link }}games/{{ i.id }}"
                                       class="hide">{{ i.teams[0] }}</a></td>
                                <td><a href="{{ current_tournament.link }}games/{{ i.id }}" class="hide">vs</a></td>
                                <td><a href="{{ current_tournament.link }}games/{{ i.id }}"
                                       class="hide">{{ i.teams[1] }}</a></td>
                                <td><a href="{{ current_tournament.link }}games/{{ i.id }}"
                                       class="hide">{{ i.score_string }}</a></td>
                            </tr>
                        {% endfor %}
                {% endif %}
                </tbody>

                </table>
            </div>
            <div style="min-height: 200px">
                <h2><a class="hide" href="{{ current_tournament.link }}fixtures/">Current Round</a></h2>
                <table class="jaredTable">
                    <tbody>
                    <tr>
                        <th>Team One</th>
                        <td></td>
                        <th>Team Two</th>
                        <th>Score</th>
                    </tr>
                    {% for i in current_round %}
                        <tr>
                            <td><a href="{{ current_tournament.link }}games/{{ i.id }}"
                                   class="hide">{{ i.teams[0] }}</a></td>
                            <td><a href="{{ current_tournament.link }}games/{{ i.id }}" class="hide">vs</a></td>
                            <td><a href="{{ current_tournament.link }}games/{{ i.id }}"
                                   class="hide">{{ i.teams[1] }}</a></td>
                            <td><a href="{{ current_tournament.link }}games/{{ i.id }}"
                                   class="hide">{{ i.score_string }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="min-height: 200px">
                <a href="{{ current_tournament.link }}admin" class="hide"><h2>Notices</h2></a>
                <p><i>{{ notes }}</i></p>
            </div>
        </div>
        <div class="col">
            <div>
                <h2><a class="hide" href="{{ current_tournament.link }}ladder/">Ladder</a></h2>

                <table class="jaredTable">

                    {% for i, l in ladder %}
                        <tr>
                            <th colspan="4"><a class="hide" href="/{{ current_tournament.link }}ladder/">{{ i }}</a>
                            </th>
                        </tr>
                        <tr>
                            <th style="width:30px">Rank</th>
                            <th>Team</th>
                            <th>Games Won</th>
                            <th>Games Played</th>
                        </tr>
                        {% for j, team in l %}
                            <tr>
                                <td style="width:30px"><a class="hide"
                                                          href="/{{ current_tournament.link }}teams/{{ team.searchableName }}"><i>{{ j }}</i></a>
                                </td>
                                <td style="width:200px; text-align: center"><a class="hide"
                                                                               href="/{{ current_tournament.link }}teams/{{ team.searchableName }}">{{ team.name }}</a>
                                </td>
                                <td style="width:200px"><a class="hide"
                                                           href="/{{ current_tournament.link }}teams/{{ team.searchableName }}">{{ team.games_won }}</a>
                                </td>
                                <td style="width:200px"><a class="hide"
                                                           href="/{{ current_tournament.link }}teams/{{ team.searchableName }}">{{ team.games_played }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
            <div>
                <h2><a class="hide" href="/{{ tournament }}players/">Players</a></h2>

                <table class="jaredTable">
                    <tr>
                        <th>Name</th>
                        <th style="text-align: center">B&F Votes</th>
                        <th>Points Scored</th>
                        <th>Aces Scored</th>
                        <th>Cards Received</th>
                    </tr>
                    {% for p in players %}
                        <tr>
                            <td><a class="hide"
                                   href="{{ current_tournament.link }}players/{{ p.searchableName }}">{{ p.name }}</a>
                            </td>
                            <td style="text-align: center"><a class="hide"
                                                              href="{{ current_tournament.link }}players/{{ p.searchableName }}">{{ p.best }}</a>
                            </td>
                            <td style="text-align: center"><a class="hide"
                                                              href="{{ current_tournament.link }}players/{{ p.searchableName }}">{{ p.points }}</a>
                            </td>
                            <td><a class="hide"
                                   href="{{ current_tournament.link }}players/{{ p.searchableName }}">{{ p.aces }}</a>
                            </td>
                            <td><a class="hide"
                                   href="{{ current_tournament.link }}players/{{ p.searchableName }}">{{ p.cards }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
{% endblock %}