<!DOCTYPE html>
<html>
<head>
    <title>Edit Game {{teams[0].name}} vs {{teams[1].name}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_game.css') }}">
</head>
<body>
<div id="navBar"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/scorer.js') }}"></script>
<script> setId({{game.id}})</script>
<h1>{{teams[0].name}} vs {{teams[1].name}}</h1>
<h1 class="big">{{teams[0].score}} - {{teams[1].score}}</h1>
<p><b>Round:</b> <i>{{game.rounds}}</i></p>
<p><b>Match Official:</b> <a class="hide"
                             href="http://handball-tourney.zapto.org/officials/{{game.primary_official.nice_name()}}"><i>{{game.primary_official}}</i></a>
</p>
<br>

<br>
<table class="table">

    <tr>
        {% if teams[1].serving %}
        <td></td>
        <td></td>
        {% endif %}
        {% if game.team_serving().faulted %}
        <td style="color: #ff0000"><i>{{game.server().name}}</i></td>
        {% else %}
        <td><i>{{game.server().name}}</i></td>
        {% endif %}
    </tr>
    <tr>
        <th><a href="http://handball-tourney.zapto.org/teams/{{teams[0].nice_name()}}"
               class="hide"><img
                src="http://handball-tourney.zapto.org/api/teams/image?name={{teams[0].nice_name()}}"
                class="team_logo"
                style="display: inline;left:70%;vertical-align:middle;"></a></th>
        <th style="color:#e0ffe0">spacer..</th>
        <th><a href="http://handball-tourney.zapto.org/teams/{{teams[1].nice_name()}}"
               class="hide"><img
                src="http://handball-tourney.zapto.org/api/teams/image?name={{teams[1].nice_name()}}"
                class="team_logo"
                style="display: inline;left:70%;vertical-align:middle;"></a></th>
    </tr>
    <tr>
        <td>
            {% if teams[0].card_time() > 0 %}
            <div class="rectangle"
                 style="background-color: #FCCE6E;width:{{100*(teams[0].card_time()) / teams[0].card_duration()}}%"></div>
            {% endif %}
            {% if teams[0].card_time() < 0 %}
            <div class="rectangle" style="background-color: #EC4A4A; width:100%"></div>
            {% endif %}
        </td>
        <td></td>
        <td>
            {% if teams[1].card_time() > 0 %}
            <div class="rectangle"
                 style="background-color: #FCCE6E;width:{{100*(teams[1].card_time()) / teams[1].card_duration()}}%"></div>
            {% endif %}
            {% if teams[1].card_time() < 0 %}
            <div class="rectangle" style="background-color: #EC4A4A"></div>
            {% endif %}
        </td>

    </tr>
    <tr>
        <td><br></td>
    </tr>
    <tr>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" class="button dropbtn">Score {{teams[0].name}}</button>
                <div class="dropdown-content">
                    <p onclick="score(true, true)">{{teams[0].players[0].name}}</p>
                    <p onclick="score(true, false)">{{teams[0].players[1].name}}</p>
                    <p onclick="ace(true)">Ace</p>
                </div>
            </div>
        </td>
        <td><br></td>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" class="button dropbtn">Score {{teams[1].name}}</button>
                <div class="dropdown-content">
                    <p onclick="score(false, true)">{{teams[1].players[0].name}}</p>
                    <p onclick="score(false, false)">{{teams[1].players[1].name}}</p>
                    <p onclick="ace(false)">Ace</p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td><br></td>
    </tr>
    <tr>
        <td>
            <button onclick="fault(true)" class="button">Fault {{teams[0].name}}</button>
        </td>
        <td></td>
        <td>
            <button onclick="fault(false)" class="button">Fault {{teams[1].name}}</button>
        </td>
    </tr>
    <tr>
        <td><br></td>
    </tr>
    <tr>
        <td>
            <button onclick="timeout(true)" class="button">Timeout {{teams[0].name}}</button>
        </td>
        <td></td>
        <td>
            <button onclick="timeout(false)" class="button">Timeout {{teams[1].name}}</button>
        </td>
    </tr>
    <tr>
        <td><br></td>
    </tr>
    <tr>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" class="green_button dropbtn">Green Card {{teams[0].name}}</button>
                <div class="dropdown-content">
                    <p onclick="card(true, true, 'green')">{{teams[0].players[0].name}}</p>
                    <p onclick="card(true, false, 'green')">{{teams[0].players[1].name}}</p>
                </div>
            </div>
        </td>
        <td></td>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" class="green_button dropbtn">Green Card {{teams[1].name}}</button>
                <div class="dropdown-content">
                    <p onclick="card(false, true, 'green')">{{teams[1].players[0].name}}</p>
                    <p onclick="card(false, false, 'green')">{{teams[1].players[1].name}}</p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td><br></td>
    </tr>
    <tr>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" class="yellow_button dropbtn">Yellow Card {{teams[0].name}}</button>
                <div class="dropdown-content">
                    <p onclick="card(true, true, 'yellow')">{{teams[0].players[0].name}}</p>
                    <p onclick="card(true, false, 'yellow')">{{teams[0].players[1].name}}</p>
                </div>
            </div>
        </td>
        <td></td>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" class="yellow_button dropbtn">Yellow Card {{teams[1].name}}</button>
                <div class="dropdown-content">
                    <p onclick="card(false, true, 'yellow')">{{teams[1].players[0].name}}</p>
                    <p onclick="card(false, false, 'yellow')">{{teams[1].players[1].name}}</p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td><br></td>
    </tr>
    <tr>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" class="red_button dropbtn">Red Card {{teams[0].name}}</button>
                <div class="dropdown-content">
                    <p onclick="card(true, true, 'red')">{{teams[0].players[0].name}}</p>
                    <p onclick="card(true, false, 'red')">{{teams[0].players[1].name}}</p>
                </div>
            </div>
        </td>
        <td></td>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" class="red_button dropbtn">Red Card {{teams[1].name}}</button>
                <div class="dropdown-content">
                    <p onclick="card(false, true, 'red')">{{teams[1].players[0].name}}</p>
                    <p onclick="card(false, false, 'red')">{{teams[1].players[1].name}}</p>
                </div>
            </div>
        </td>
    </tr>
</table>
<br>
<button class="button" onclick="undo()" style="background-color: #2a5d88;">Undo</button>
</body>
</html>