<!DOCTYPE html>
<html>
<head>
    <title>Start Game {{teams[0].name}} vs {{teams[1].name}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_game.css') }}">
</head>
<body>
<div id="navBar"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/start_game.js') }}"></script>
<script> setId({{game.id}})</script>
<h1>{{teams[0].name}} vs {{teams[1].name}} </h1>
<h1 class="big">{{teams[0].score}} - {{teams[1].score}}</h1>
<p><b>Match Official:</b> <a class="hide"
                             href="http://handball-tourney.zapto.org/officials/{{game.primary_official.nice_name()}}"><i>{{game.primary_official}}</i></a>
</p>
<br>

<table class="table">
    <tr>
        <th><a href="http://handball-tourney.zapto.org/teams/{{teams[0].nice_name()}}"
               class="hide"><img
                src="http://handball-tourney.zapto.org/api/teams/image?name={{teams[0].nice_name()}}"
                class="team_logo"
                style="display: inline;left:70%;vertical-align:middle;"></a></th>
        <th style="color:#e0ffe0">spacer..</th>
        <th><a href="http://handball-tourney.zapto.org/teams/{{teams[1].nice_name()}}"
               class="hide"><img
                src="http://handball-tourney.zapto.org/api/teams/image?name={{teams[1].nice_name()}}"
                class="team_logo"
                style="display: inline;left:70%;vertical-align:middle;"></a></th>
    </tr>
    <tr>
        <td><br></td>
    </tr>
    <tr>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" id = "left" class="button dropbtn">Left Player: {{teams[0].players[0].tidy_name()}}</button>
                <div class="dropdown-content">
                    <p onclick="setLeft(false, '{{teams[0].players[0].tidy_name()}}')">{{teams[0].players[0].tidy_name()}}</p>
                    <p onclick="setLeft(true, '{{teams[0].players[1].tidy_name()}}')">{{teams[0].players[1].tidy_name()}}</p>
                </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" id = "team" class="button dropbtn">Team Serving: {{teams[0].name}}</button>
                <div class="dropdown-content">
                    <p onclick="setTeamServing(true, '{{teams[0].name}}')">{{teams[0].name}}</p>
                    <p onclick="setTeamServing(false, '{{teams[1].name}}')">{{teams[1].name}}</p>
                </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
                <button onclick="myFunction(this)" id = "right" class="button dropbtn">Left Player: {{teams[1].players[0].tidy_name()}}</button>
                <div class="dropdown-content">
                    <p onclick="setRight(false, '{{teams[1].players[0].tidy_name()}}')">{{teams[1].players[0].tidy_name()}}</p>
                    <p onclick="setRight(true, '{{teams[1].players[1].tidy_name()}}')">{{teams[1].players[1].tidy_name()}}</p>
                </div>
            </div>
        </td>
    </tr>
</table>
<br>
<button onclick="start()" class="button">Start</button>
<br>
<br>
</body>
</html>