<!DOCTYPE html>
<html>
<head>
    <title>Control Panel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_stats.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div id="navBar"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<h1><a href="/admin/" class="hide">Control Panel</a></h1>
<h3><a href="/admin/log?key=admin" class="hide">Log</a></h3>
<h3><a href="/admin/log?key=admin" class="hide">Start New Match</a></h3>
</body>
</html>