{% extends "base.html" %}

{% block headBlock %}
    <title>Tournaments</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_stats.css') }}">
{% endblock %}

{% block bodyBlock %}
<h1><a href="/" class="hide">Tournaments</a></h1>
{% for tournament in comps %}
<table class="jaredTable">
    <tr>
        <td style="width:100px;"><a href="/{{tournament.nice_name()}}/"
                                    class="hide"><img
                src="/api/tournaments/image?name={{tournament.nice_name()}}" class="team_logo"
                style="width: 75px; height: 75px;"
        ></a></td>


        <td style="width:200px;"><a href="/{{tournament.nice_name()}}/" class="hide"><p>{{tournament.name}}</p></a></td>
    </tr>
</table>

{% endfor %}
{% endblock %}
