<!DOCTYPE html>
<html>
<head>
    <title>Teams List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_game.css') }}">
</head>
<body>
<div id="navBar"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<div style="top:0;left:0;bottom: 100%;width: 66%">
    <h1>{{teams[0].name}} vs {{teams[1].name}} </h1>
    <h1 class="big">{{teams[0].score}} - {{teams[1].score}}</h1>
    <p><b>Round:</b> <i>{{roundNumber}}</i></p>
    <p><b>Match Official:</b> <i>{{official}}</i></p>
    <p><b>Best on Court:</b> <i>{{best}}</i></p>
    <br>
    <table class="table">
        <tr>
            <th><a href="http://handball-tourney.zapto.org/stats/{{teams[0].nice_name()}}"
                   class="hide"><img
                    src="http://handball-tourney.zapto.org/api/teams/image?name={{teams[0].nice_name()}}"
                    class="team_logo"
                    style="display: inline;left:70%;vertical-align:middle;"></a></th>
            <th style="color:#e0ffe0">Another spacer..</th>
            <th><a href="http://handball-tourney.zapto.org/stats/{{teams[1].nice_name()}}"
                   class="hide"><img
                    src="http://handball-tourney.zapto.org/api/teams/image?name={{teams[1].nice_name()}}"
                    class="team_logo"
                    style="display: inline;left:70%;vertical-align:middle;"></a></th>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <table class="table">
        <tr>
            <td></td>
            <th colspan="2"><b><a href="http://handball-tourney.zapto.org/stats/{{teams[0].nice_name()}}"
                                  class="hide">{{teams[0].name}}</a></b></th>
            <th colspan="2"><b><a href="http://handball-tourney.zapto.org/stats/{{teams[1].nice_name()}}"
                                  class="hide">{{teams[1].name}}</a></b></th>
            <th style="color:#e0ffe0">Spacerrrrrrr</th>
        </tr>
        {% for stat in stats %}
        <tr>
            <th>{{stat[0]}}:</th>
            <td colspan="2">{{stat[1]}}</td>
            <td colspan="2">{{stat[2]}}</td>
        </tr>


        {% endfor %}

        <tr>
            <td></td>
            <th>{{players[0]}}</th>
            <th>{{players[1]}}</th>
            <th>{{players[2]}}</th>
            <th>{{players[3]}}</th>
        </tr>
        {% for player in player_stats %}
        <tr>
            <th>{{player[0]}}:</th>
            <td>{{player[1]}}</td>
            <td>{{player[2]}}</td>
            <td>{{player[3]}}</td>
            <td>{{player[4]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div style="top:70px;left:66% ; position: absolute;width: 33%">
    <h2>Commentary</h2>
    {% for line in commentary %}
    <p style="color: black;">{{line}}</p>
    {% endfor %}
</div>
</body>
</html>