<!DOCTYPE html>
<html>
<head>
    <title>Handball Tournament</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_stats.css') }}">
</head>
<body>
<div id="navBar"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<a href="http://handball-tourney.zapto.org/officials/">
    <img src="http://handball-tourney.zapto.org/api/teams/image?name=umpire" class="team_logo"></a>
<h1>Statistics for {{name}}</h1>
<table class="table">
    <tbody>
    {% for stat in stats %}
    <p><b>{{ stat[0] }}:</b> {{ stat[1] }}</p>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<br>
<h2>Matches</h2>
{% for line in games %}
<p style="color: black;"><a class="hide" href="http://handball-tourney.zapto.org/games/{{line[1]}}">{{line[0]}}</a></p>
{% endfor %}

</body>
</html>