{% extends "base.html" %}

{% block headBlock %}
    <title>Documents</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_stats.css') }}">
{% endblock %}

{% block bodyBlock %}

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>load("")</script>
<h1><a href="/documents/" class="hide">Documents</a></h1>
<table class="jaredTable">
    <tr>
        <td style="width:100px;"><a href="/rules/simple"
                                    class="hide"><img
                src="/api/image?name=SUSS" class="team_logo"
                style="width: 75px; height: 75px;"
        ></a></td>


        <td style="width:200px;"><a href="/rules/simple" class="hide"><p>Rules Cheat Sheet</p></a></td>
    </tr>
    <tr>
        <td style="width:100px;"><a href="/rules/current"
                                    class="hide"><img
                src="/api/image?name=SUSS" class="team_logo"
                style="width: 75px; height: 75px;"
        ></a></td>


        <td style="width:200px;"><a href="/rules/current" class="hide"><p>Current Rules</p></a></td>
    </tr>
    <tr>
        <td style="width:100px;"><a href="/code_of_conduct/"
                                    class="hide"><img
                src="/api/image?name=SUSS" class="team_logo"
                style="width: 75px; height: 75px;"
        ></a></td>


        <td style="width:200px;"><a href="/code_of_conduct/" class="hide"><p>Code Of Conduct</p></a></td>
    </tr>
    <tr>
        <td style="width:100px;"><a href="/rules/proposed"
                                    class="hide"><img
                src="/api/image?name=SUSS" class="team_logo"
                style="width: 75px; height: 75px;"
        ></a></td>
        <td style="width:200px;"><a href="/rules/proposed" class="hide"><p>Proposed Rule Changes</p></a></td>
    </tr>
    <tr>
        <td style="width:100px;"><a href="https://docs.google.com/presentation/d/1fdU4IBZbUu-rkhlRBs0GpmuXwU4BX3ISFPdtTDjlPtM/edit?usp=sharing"
                                    class="hide"><img
                src="/api/image?name=SUSS" class="team_logo"
                style="width: 75px; height: 75px;"
        ></a></td>
        <td style="width:200px;"><a href="https://docs.google.com/presentation/d/1fdU4IBZbUu-rkhlRBs0GpmuXwU4BX3ISFPdtTDjlPtM/edit?usp=sharing" class="hide"><p>Captain's Briefing</p></a></td>
    </tr>
    <tr>
        <td style="width:100px;"><a href="https://docs.google.com/presentation/d/1rHmIFjmRfNyh9SzVVY89OGPxwplXc3-R4JXnSIa03Sk/edit?usp=sharing"
                                    class="hide"><img
                src="/api/image?name=umpire" class="team_logo"
                style="width: 75px; height: 75px;"
        ></a></td>
        <td style="width:200px;"><a href="https://docs.google.com/presentation/d/1rHmIFjmRfNyh9SzVVY89OGPxwplXc3-R4JXnSIa03Sk/edit?usp=sharing" class="hide"><p>Third Umpire Qualification Program</p></a></td>
    </tr>
    <tr>
        <td style="width:100px;"><a href="https://docs.google.com/presentation/d/19f1aP1ucWNLmslApekfMef_Lu1qsh8ckf3zTYA2P-VE/edit?usp=sharing"
                                    class="hide"><img
                src="/api/image?name=umpire" class="team_logo"
                style="width: 75px; height: 75px;"
        ></a></td>
        <td style="width:200px;"><a href="https://docs.google.com/presentation/d/19f1aP1ucWNLmslApekfMef_Lu1qsh8ckf3zTYA2P-VE/edit?usp=sharing" class="hide"><p>Fourth Umpire Qualification Program</p></a></td>
    </tr>
    <tr>
        <td style="width:100px;"><a href="https://docs.google.com/presentation/d/1VkYuVcabr1jVMfTHc7EyL6Q0DGcPTJmXHYd2NUz3pFA/edit?usp=sharing"
                                    class="hide"><img
                src="/api/image?name=umpire" class="team_logo"
                style="width: 75px; height: 75px;"
        ></a></td>
        <td style="width:200px;"><a href="https://docs.google.com/presentation/d/1VkYuVcabr1jVMfTHc7EyL6Q0DGcPTJmXHYd2NUz3pFA/edit?usp=sharing" class="hide"><p>Fifth Umpire Qualification Program</p></a></td>
    </tr>
</table>
{% endblock %}