<!DOCTYPE html>
<html>
<head>
    <title>Teams List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_stats.css') }}">
</head>
<body>
<div id="navBar"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<h1>Statistics</h1>
{% for team in teams %}
<p>
<table class="table">
    <tr>
        <td style="width:100px;"><a href="http://handball-tourney.zapto.org/stats/{{team[1]}}"
                                    style="text-decoration: none;color: inherit;"><img
                src="http://handball-tourney.zapto.org/api/teams/image?name={{team[1]}}" class="team_logo"
                style="width: 75px; height: 75px;"
        ></a></td>


        <td style="width:200px;"><a href="http://handball-tourney.zapto.org/stats/{{team[1]}}"
                                    style="text-decoration: none;color: inherit;"><h3>{{team[0]}}</h3></a></td>
    </tr>
    </p>
</table>

{% endfor %}
</body>
</html>