{% extends "base.html" %}

{% block headBlock %}
    <title>{{ user.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block bodyBlock %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<a href="/user">
    <img src="/api/users/image?name={{ user.nice_name() }}" class="title_logo"></a>
<h1><a href="/user/" class="hide">{{ user.name }}</a></h1><a class="hide" href="/logout/"><i>(Log out)</i></a>
<div class="row">
    <div class="col">
        <div style="min-height: 200px">
            <h2>Games To Play</h2>
            {% if not to_play %}
                <br>
                <br>
                <i>No Ongoing Games</i>
            {% else %}
                <table class="jaredTable">
                <tbody>
                <tr>
                    <th>Team One</th>
                    <td></td>
                    <th>Team Two</th>
                    <th>Court</th>
                    {% for i in to_play %}
                        <tr>
                            <td><a href="/games/{{ i.id }}"
                                   class="hide">{{ i.teams[0] }}</a></td>
                            <td><a href="/games/{{ i.id }}" class="hide">vs</a></td>
                            <td><a href="/games/{{ i.id }}"
                                   class="hide">{{ i.teams[1] }}</a></td>
                            <td><a href="/games/{{ i.id }}"
                                   class="hide">{{ i.court_display }}</a></td>
                        </tr>
                    {% endfor %}
            {% endif %}
            </tbody>

            </table>
        </div>
        <div style="min-height: 200px">
            <h2>Games To Officiate</h2>
            {% if not to_officiate %}
                <br>
                <br>
                <i>No Ongoing Games</i>
            {% else %}
                <table class="jaredTable">
                <tbody>
                <tr>
                    <th>Team One</th>
                    <td></td>
                    <th>Team Two</th>
                    <th>Official</th>
                    <th>Scorer</th>
                    <th>Court</th>
                    {% for i in to_officiate %}
                        <tr>
                            <td><a href="/{{ i.tournament.nice_name() }}/games/{{ i.id }}"
                                   class="hide">{{ i.teams[0] }}</a></td>
                            <td><a href="/{{ i.tournament.nice_name() }}/games/{{ i.id }}" class="hide">vs</a></td>
                            <td><a href="/{{ i.tournament.nice_name() }}/games/{{ i.id }}"
                                   class="hide">{{ i.teams[1] }}</a></td>
                            <td><a href="/{{ i.tournament.nice_name() }}/games/{{ i.id }}"
                                   class="hide">{{ i.primary_official }}</a></td>
                            <td><a href="/{{ i.tournament.nice_name() }}/games/{{ i.id }}"
                                   class="hide">{{ i.scorer }}</a></td>
                            <td><a href="/{{ i.tournament.nice_name() }}/games/{{ i.id }}"
                                   class="hide">{{ i.court_display }}</a></td>
                        </tr>
                    {% endfor %}
            {% endif %}
            </tbody>

            </table>
        </div>
    </div>
    <div class="col">
        <div style="min-height: 200px">
            <h2><a class="hide" href="/video/">Videos Set By UM</a></h2>
            {% if reqd %}
                {% for i in reqd %}
                    <p><a class="hide" href="/video/{{ i }}?tags=required,new"><i>Video {{ i }}</i></a></p>
                {% endfor %}
            {% else %}
                <br>
                <br>
                <i>There are no required videos at this time</i>
            {% endif %}
        </div>
        <div>
            <h2><a class="hide" href="/officials/{{ user.nice_name() }}">My Stats</a></h2>
            {% for k, v in (user.get_stats()).items() %}
                <p>{{ k }}:<i> {{ v }}</i></p>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
</div>
<br>
<br>
{% endblock %}