{% extends "admin.html" %}

{% block headBlock %}
    <title>{{ teams[0].name }} vs {{ teams[1].name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_game.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_admin.css') }}">
{% endblock %}

{% block bodyBlock %}

    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script>setTournament("{{tournament}}")</script>
    <script>setId("{{game.id}}")</script>
    <div class="row">

        <div class="col-sm-9">
            <h1><a href="/games/{{ game.id }}" class="hide">{{ teams[0].name }}
                vs {{ teams[1].name }}</a></h1>
            <h1 class="big"><a class="hide"
                               href="/games/{{ game.id }}/display">{{ game.team_one_score }}
                - {{ game.team_two_score }}</a>
            </h1>
            <p><b>Round:</b> <a class="hide"
                                href="/{{ tournamentLink }}fixtures/detailed?round={{ game.round }}"><i>{{ game.round }}</i></a>
            </p>
            <p><b>Court:</b> <a class="hide"
                                href="/{{ tournamentLink }}fixtures/detailed?court={{ game.court }}"><i>Court {{ game.court + 1 }}</i></a>
            </p>
            <p><b>Match Official:</b>{% if not game.is_bye %}
                <a class="hide"
                   href="/{{ tournamentLink }}officials/{{ game.official.person.searchable_name }}">{% endif %}
                <i>{{ game.official.person.name }}</i>
                {% if not game.is_bye %}</a> {% endif %}</p>
            {% if game.scorer %}
                <p><b>Match Scorer:</b>
                    <a class="hide" href="/{{ tournamentLink }}officials/{{ game.scorer.person.searchable_name }}">
                        <i>{{ game.scorer.person.name }}</i>
                    </a></p>
            {% endif %}
            <p>{% if not game.is_bye %}<a href="/games/{{ game.id }}/edit" class="hide">{% endif %}<b>Status:</b>
                {% if not game.is_bye %}</a>{% endif %} <i>{{ game.admin_status }}</i></p>
            {% if game.start_time and game.start_time > 0 %}
                <p><b>Match Time:</b> <i>{{ game.formatted_start_time }}</i></p>
            {% endif %}
            {% if game.best_player_id %}
                <p><b>Best on Court:</b> <a class="hide"
                                            href="/{{ tournamentLink }}players/{{ game.best_player.searchable_name }}/admin"><i>{{ game.best_player.name }}</i></a>
                </p>
            {% endif %}
            <br>
            <table class="jaredTable">
                <tr>
                    <th></th>
                    <th colspan="{{ players[0].__len__() }}"><a
                            href="/{{ tournamentLink }}teams/{{ teams[0].searchable_name }}/admin"
                            class="hide"><img
                            src="{{ teams[0].image_url }}"
                            class="team_logo"
                            style="display: inline;left:70%;vertical-align:middle;"></a></th>
                    <th colspan="{{ players[1].__len__() }}">
                        {% if not game.is_bye %}
                            <a href="/{{ tournamentLink }}teams/{{ teams[1].searchable_name }}/admin"
                               class="hide">{% endif %}<img
                            src="{{ teams[1].image_url }}"
                            class="team_logo"
                            style="display: inline;left:70%;vertical-align:middle;">{% if not game.is_bye %}
                        </a>{% endif %}
                    </th>
                </tr>

                <tr>
                    <td></td>
                    <th style="min-width: 150px" colspan="{{ players[0].__len__() }}"><b><a
                            href="/{{ tournamentLink }}teams/{{ teams[0].searchable_name }}/admin"
                            class="hide">{{ teams[0].name }}</a></b></th>
                    <th style="min-width: 150px" colspan="{{ players[0].__len__() }}"><b>{% if not game.is_bye %}
                        <a href="/{{ tournamentLink }}teams/{{ teams[1].searchable_name }}/admin"
                           class="hide">{% endif %}{{ teams[1].name }}{% if not game.is_bye %}
                        </a>{% endif %}</b></th>
                    <th class="invisible">Spacerrrrrrr</th>
                </tr>
                {% for i in team_stats[0].keys() %}
                    <tr>
                        <th>{{ i }}:</th>
                        <td colspan="{{ players[0].__len__() }}">{{ team_stats[0][i] }}</td>
                        <td colspan="{{ players[1].__len__() }}">{{ team_stats[1][i] }}</td>
                    </tr>


                {% endfor %}
                <tr>
                    <td></td>
                    {% for t in players %}
                        {% for i in t %}
                            <th><b><a class="hide"
                                      href="/{{ tournamentLink }}/players/{{ i.player.searchable_name }}/admin">{{ i.player.name }}</a></b>
                            </th>
                        {% endfor %}
                    {% endfor %}
                </tr>
                {% for i in player_headings %}
                    <tr>
                        <th>{{ i }}:</th>
                        {% for t in players %}
                            {% for j in t %}
                                {% if i == 'Elo' and game.ended %}
                                    <td>{{ j.stats()[i] }}
                                        [{{ '+' if j.stats()["Elo Delta"]>=0 else '' }}{{ j.stats()["Elo Delta"] }}]
                                    </td>
                                {% else %}
                                    <td>{{ j.stats()[i] }}</td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-3">
            <div style="min-height: 150px">
                <h2>Notes</h2>
                <br>
                {% if not game.notes or not game.notes.strip() %}
                    <i>No notes were left for this game</i>
                {% else %}
                    {{ game.notes }}
                {% endif %}
            </div>
            <div style="min-height: 150px">
                <h2>Cards</h2>
                <br>
                {% if not cards %}
                    <i>No cards were awarded in this game</i>
                {% endif %}
                {% for i in cards %}
                    <i>{{ i.player }} has received a <a style="color: {{ i.hex }}">{{ i.type }}</a> card
                        for</i> <b>{{ i.reason }}</b>
                    <br>
                    <br>
                {% endfor %}
            </div>
            <div style="min-height: 150px">
                <h2>Protests</h2>
                <br>
                {% if game.teams_protested %}
                    {% for i in game.teams_protested %}
                        <b>{{ i.team.name }}</b> has protest for <i>{{ i.notes }}</i>.
                    {% endfor %}
                {% else %}
                    <i>No Teams have protested</i>
                {% endif %}
            </div>
            <div style="min-height: 150px">
                <h2>Resolve</h2>
                <br>
                {% if game.admin_status in ['Official', 'Resolved', 'Bye', 'Waiting For Start'] %}
                    <i>This game does not need resolution</i>
                {% else %}
                    <button onclick="resolveGame()" class="button">Resolve</button>
                {% endif %}
                <br>
            </div>
            <div style="min-height: 100px">
                <h2>Commentary</h2>
                {% for line in commentary %}
                    <p style="color: black;">{{ line }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}