{% extends "admin.html" %}

{% block headBlock %}
    <title>Handball Tournament</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_admin.css') }}">
{% endblock %}

{% block bodyBlock %}
    <div>
        <h1><a href="/{{ tournamentLink }}fixtures/admin" class="hide">Fixtures</a>
            {% if reset %}
                <i style="font-size: 16px;font-weight: normal"><a href="/{{ tournamentLink }}fixtures/admin"
                                                                  class="hide">(reset)</a></i>
            {% endif %}
        </h1>
    </div>
    <table class="jaredTable">
        <thead>
        <tr>
            <td></td>
            <th style="width: 220px;"><b>First Team</b></th>
            <th></th>
            <th style="width: 220px;"><b>Second Team</b></th>
            <th style="width: 100px;"><b>Umpire</b></th>
            {% if t.has_scorer %}
                <th style="width: 100px;"><b>Scorer</b></th> {% endif %}
            {% if t.two_courts %}
                <th style="width: 100px;"><b>Court</b></th> {% endif %}

            <th><b>Result</b></th>
            <th style="width: 20px;"><b>Cards</b></th>
            <th style="width: 100px;"><b>Notes</b></th>
            <th><b>Status</b></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="999">
                <hr>
            </td>
        </tr>
        {% for i, round in fixtures %}
            <tr>
                <th rowspan="{{ round.__len__() + 1 }}" style="font-size: 18px">Round {{ i }}</th>
            </tr>
            {% for game in round %}

                <tr
                        {% if game.requires_action %} style="color: #9C1A1C" {% endif %}
                >
                    <td><a href="/games/{{ game.id }}/admin"
                           class="hide">{{ game.team_one.name }}</a></td>
                    <td><a href="/games/{{ game.id }}/admin" class="hide"> vs </a></td>
                    <td><a href="/games/{{ game.id }}/admin"
                           class="hide">{{ game.team_two.name }}</a></td>
                    <td><a href="/{{ tournamentLink }}officials/{{ game.official.person.searchable_name if game.official else '-' }}"
                           class="hide"><i>{{ game.official.person.name if game.official else '-' }}</i></a></td>
                    {% if t.has_scorer %}
                        <td><i><a href="/{{ tournamentLink }}officials/{{ game.scorer.person.searchable_name if game.scorer else '-' }}"
                                  class="hide">{{ game.scorer.person.name if game.scorer else '-' }}</a></i></td> {% endif %}
                    {% if t.two_courts %}
                        <td><a href="/{{ tournamentLink }}fixtures/admin?court={{ game.court }}"
                               class="hide">Court {{ game.court + 1 }}</a></td> {% endif %}
                    <td><a href="/games/{{ game.id }}/admin"
                           class="hide">{{ game.team_one_score }} - {{ game.team_two_score }}</a></td>
                    <td><a href="/games/{{ game.id }}/admin"
                           class="hide">{{ game.stats()["Cards"] }}</a></td>
                    <td><a href="/games/{{ game.id }}/admin" class="hide">{{ (game.notes if game.notes else "") == "" and not game.is_bye }}</a>
                    </td>
                    <td><a href="/games/{{ game.id }}/admin"
                           class="hide"><b>{{ game.admin_status }}</b></a></td>
                </tr>

            {% endfor %}
            <tr>
                <td colspan="999">
                    <hr>
                </td>
            </tr>
        {% endfor %}
        {% if finals %}
            <tr>
                <th colspan="10"><b>Finals:</b></th>
            </tr>
            <tr>
                <td colspan="999">
                    <hr>
                </td>
            </tr>

            {% for i, round in finals %}
                <tr>
                    <th rowspan="{{ round.__len__() + 1 }}" style="font-size: 18px">Round {{ i }}</th>
                </tr>
                {% for game in round %}
                    <tr
                            {% if game.requires_action %} style="color: #9C1A1C" {% endif %}
                    >
                        <td><a href="/games/{{ game.id }}/admin"
                               class="hide">{{ game.team_one.name }}</a></td>
                        <td><a href="/games/{{ game.id }}/admin" class="hide"> vs </a></td>
                        <td><a href="/games/{{ game.id }}/admin"
                               class="hide">{{ game.team_two.name }}</a></td>
                        <td><a href="/{{ tournamentLink }}officials/{{ game.official.person.searchable_name if game.official else '-' }}"
                               class="hide"><i>{{ game.official.person.name if game.official else '-' }}</i></a></td>
                        {% if t.has_scorer %}
                            <td><i><a href="/{{ tournamentLink }}officials/{{ game.scorer.person.searchable_name if game.scorer else '-' }}"
                                      class="hide">{{ game.scorer.person.name if game.scorer else '-' }}</a></i></td> {% endif %}
                        {% if t.two_courts %}
                            <td><a href="/{{ tournamentLink }}fixtures/admin?court={{ game.court }}"
                                   class="hide">Court {{ game.court + 1 }}</a></td> {% endif %}
                        <td><a href="/games/{{ game.id }}/admin"
                               class="hide">{{ game.team_one_score }} - {{ game.team_two_score }}</a></td>
                        <td><a href="/games/{{ game.id }}/admin"
                               class="hide">{{ game.stats()["Cards"] }}</a></td>
                        <td><a href="/games/{{ game.id }}/admin" class="hide">{{ (game.notes if game.notes else "") == "" and not game.is_bye  }}</a>
                        </td>
                        <td><a href="/games/{{ game.id }}/admin"
                               class="hide"><b>{{ game.admin_status }}</b></a></td>
                    </tr>


                {% endfor %}
                <tr>
                    <td colspan="999">
                        <hr>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}