<!DOCTYPE html>
<html>
<head>
    <title>Handball Tournament</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div id="navBar"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>load("{{tournament}}")</script>

<div>
    <h1><a href="/{{ tournament }}fixtures/detailed" class="hide">Fixtures</a>
        {% if reset %}
            <i style="font-size: 16px;font-weight: normal"><a href="/{{ tournament }}fixtures/detailed" class="hide">(reset)</a></i>
        {% endif %}
    </h1>
</div>
<p><i><a href="/{{ tournament }}fixtures" class="hide">Show Less</a></i></p>
<table class="table">
    <thead>
    <tr>
        <th style="width: 220px;"><b>First Team</b></th>
        <th></th>
        <th style="width: 220px;"><b>Second Team</b></th>
        <th style="width: 100px;"><b>Umpire</b></th>
        {% if t.details['scorer'] %}
            <th style="width: 100px;"><b>Scorer</b></th> {% endif %}
        {% if t.two_courts %}
            <th style="width: 100px;"><b>Court</b></th> {% endif %}

        <th><b>Result</b></th>
        <th style="width: 20px;"><b>Cards</b></th>
        <th style="width: 100px;"><b>Notes</b></th>
        <th><b>Status</b></th>
    </tr>
    </thead>
    <tbody>
    {% for i, round in fixtures %}
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <th colspan="10" style="font-size: 18px"><a href="/{{ tournament }}fixtures/detailed?round={{ i }}"
                                                       class="hide">Round {{ i + 1 }}</a></th>
        </tr>
        {% for game in round %}

            <tr
                    {% if game.requires_action %} style="color: #9C1A1C" {% endif %}
            >
                <td><a href="/{{ tournament }}games/{{ game.id }}/admin?key={{ key }}"
                       class="hide">{{ game.teams[0].short_name }}</a></td>
                <td><a href="/{{ tournament }}games/{{ game.id }}/admin?key={{ key }}" class="hide"> vs </a></td>
                <td><a href="/{{ tournament }}games/{{ game.id }}/admin?key={{ key }}"
                       class="hide">{{ game.teams[1].short_name }}</a></td>
                <td><a href="/{{ tournament }}officials/{{ game.primary_official.nice_name() }}"
                       class="hide"><i>{{ game.primary_official }}</i></a></td>
                {% if t.details['scorer'] %}
                    <td><i><a href="/{{ tournament }}officials/{{ game.scorer.nice_name() }}"
                              class="hide">{{ game.scorer }}</a></i></td> {% endif %}
                {% if t.two_courts %}
                    <td><a href="/{{ tournament }}fixtures/detailed?court={{ game.court }}"
                           class="hide">{{ game.court_display() }}</a></td> {% endif %}
                <td><a href="/{{ tournament }}games/{{ game.id }}/admin?key={{ key }}"
                       class="hide">{{ game.score_string() }}</a></td>
                <td><a href="/{{ tournament }}games/{{ game.id }}/admin?key={{ key }}"
                       class="hide">{{ game.cards.__len__() }}</a></td>
                <td><a href="/{{ tournament }}games/{{ game.id }}/admin?key={{ key }}" class="hide">{{game.notes.strip() != "" }}</a>
                </td>
                <td><a href="/{{ tournament }}games/{{ game.id }}/admin?key={{ key }}"
                       class="hide"><b>{{ game.requires_action_string }}</b></a></td>
            </tr>
        {% endfor %}
    {% endfor %}
    {% if finals %}
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <th colspan="10"><b>Finals:</b></th>
        </tr>

        {% for i, round in finals %}
            <tr>
                <th colspan="7" style="font-size: 18px"><a
                        href="/{{ tournament }}fixtures/detailed?round={{ round[0].tournament.fixtures.__len__() +  i }}"
                        class="hide">Round {{ i + 1 }}</a></th>
            </tr>
            {% for game in round %}
                <tr    {% if game.requires_action %} style="color: #9C1A1C" {% endif %}>
                    <td><a href="/{{ tournament }}games/{{ game.id }}" class="hide">{{ game.teams[0].short_name }}</a>
                    </td>
                    <td><a href="/{{ tournament }}games/{{ game.id }}" class="hide"> vs</a></td>
                    <td><a href="/{{ tournament }}games/{{ game.id }}" class="hide">{{ game.teams[1].short_name }}</a>
                    </td>
                    <td><a href="/{{ tournament }}fixtures/detailed?umpire={{ game.primary_official.nice_name() }}"
                           class="hide"><i>{{ game.primary_official }}</i></a></td>
                    {% if t.details['scorer'] %}
                        <td><i><a href="/{{ tournament }}fixtures/detailed?umpire={{ game.scorer.nice_name() }}"
                                  class="hide">{{ game.scorer }}</a></i></td> {% endif %}
                    {% if t.two_courts %}
                        <td><a href="/{{ tournament }}fixtures/detailed?court={{ game.court }}"
                               class="hide">{{ game.court_display() }}</a></td> {% endif %}
                    <td><a href="/{{ tournament }}games/{{ game.id }}" class="hide">{{ game.score_string() }}</a></td>
                    <td><a href="/{{ tournament }}games/{{ game.id }}" class="hide">{{ game.cards.__len__() }}</a></td>
                    <td><a href="/{{ tournament }}games/{{ game.id }}" class="hide">{{ game.notes.strip() != "" }}</a></td>
                    <td><a href="/{{ tournament }}games/{{ game.id }}/admin?key={{ key }}"
                           class="hide"><b>{{ game.requires_action_string }}</b></a></td>
                </tr>

            {% endfor %}
            <tr>
                <td><br></td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
</body>
</html>