{% extends "admin.html" %}

{% block headBlock %}
    <title>{{ tournament }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_admin.css') }}">
{% endblock %}

{% block bodyBlock %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>

    <a href="/{{ tournamentLink }}/admin">
        <img src="/api/tournaments/image?name={{ tourney.searchable_name }}" class="title_logo"></a>
    <h1><a href="/{{ tournamentLink }}/admin" class="hide">{{ tourney.name }}</a></h1>
    <br>
    <br>
    <div class="row">

        <div class="col">
            <div style="min-height: 200px">
                <div style="min-height: 200px">
                    <h2>Games Requiring Action</h2>

                    {% if not require_action %}
                        <br>
                        <br>
                        <i>No Games Requiring Action</i>
                    {% else %}
                        {% for i in require_action %}

                            <p><a href="/games/{{ i.id }}/admin"
                                  class="hide"><b>[{{ i.admin_status }}]: </b>{{ i.team_one.name }}
                                vs {{ i.team_two.name }} ({{ i.team_one_score }} - {{ i.team_two_score }})</a></p>

                        {% endfor %}
                    {% endif %}
                </div>
                <div style="min-height: 200px">
                    <h2><a class="hide" href="/{{ tournamentLink }}fixtures/admin">Current Round</a></h2>
                    <table class="jaredTable">
                        <tbody>
                        <tr>
                            <th>Team One</th>
                            <td></td>
                            <th>Team Two</th>
                            <th>Score</th>
                        </tr>
                        {% for i in current_round %}
                            <tr>
                                <td><a href="/games/{{ i.id }}/admin"
                                       class="hide">{{ i.team_one.name }}</a></td>
                                <td><a href="/games/{{ i.id }}/admin" class="hide">vs</a></td>
                                <td><a href="/games/{{ i.id }}/admin"
                                       class="hide">{{ i.team_two.name }}</a></td>
                                <td><a href="/games/{{ i.id }}/admin"
                                       class="hide">{{ i.team_one_score }} - {{ i.team_two_score }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div style="min-height: 200px">
                    <h2>Notices</h2>
                    <textarea style="width: 400px; height: 150px" id="notes"> {{ notes }} </textarea>
                    <br>
                    <button onclick="sendNotes('{{ tournamentLink }}')">Submit</button>
                    <br>
                    <br>
                </div>
                <div>
                    <button class="button" onclick="
                    fetch('/api/tournaments/serve_style', {
                        method: 'POST',
                        body: JSON.stringify({
                            tournament: '{{ tournamentLink }}'.replace('/', ''),
                        }), headers: {
                            'Content-type': 'application/json; charset=UTF-8'
                        }
                    })">
                        Swap Serve Type
                    </button>
                </div>
            </div>
        </div>
        <div class="col">

            <h2><a class="hide" href="/{{ tournamentLink }}players/admin">Players Requiring Action</a></h2>
            <div style="min-height: 200px">
                {% for p in players if p[1]["Penalty Points"] >= 12 %}
                    <p style="text-align: center"><a class="hide"
                                                     href="/{{ tournamentLink }}players/{{ p[0].searchable_name }}/admin">{{ p[0].name }}: {{ p[1]["Penalty Points"] }}
                        penalty points</a>
                    </p>
                {% endfor %}
            </div>

            <h2><a class="hide" href="/{{ tournamentLink }}players/admin">Noteable Players</a></h2>

            <table class="jaredTable">
                <tr>
                    <th>Name</th>
                    <th>Penalty Points</th>
                    <th style="text-align: center">Warnings</th>
                    <th style="text-align: center">Green Cards</th>
                    <th>Yellow Cards</th>
                    <th>Red Cards</th>
                </tr>
                {% for p in players %}
                    <tr>
                        <td><a class="hide"
                               href="/{{ tournamentLink }}players/{{ p.searchable_name }}/admin">{{ p[0].name }}</a>
                        </td>
                        <td style="text-align: center"><a class="hide"
                                                          href="/{{ tournamentLink }}players/{{ p[0].searchable_name }}/admin">{{ p[1]["Penalty Points"] }}</a>
                        </td>
                        <td style="text-align: center"><a class="hide"
                                                          href="/{{ tournamentLink }}players/{{ p[0].searchable_name }}/admin">{{ p[1]["Warnings"] }}</a>
                        <td style="text-align: center"><a class="hide"
                                                          href="/{{ tournamentLink }}players/{{ p[0].searchable_name }}/admin">{{ p[1]["Green Cards"] }}</a>
                        </td>
                        <td style="text-align: center"><a class="hide"
                                                          href="/{{ tournamentLink }}players/{{ p[0].searchable_name }}/admin">{{ p[1]["Yellow Cards"] }}</a>
                        </td>
                        <td><a class="hide"
                               href="/{{ tournamentLink }}players/{{ p[0].searchable_name }}/admin">{{ p[1]["Red Cards"] }}</a>
                        </td>

                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
{% endblock %}