{% extends "admin.html" %}

{% block headBlock %}
    <title>{{ tournament }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_admin.css') }}">
{% endblock %}

{% block bodyBlock %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>

    <a href="/{{ tournamentLink }}/admin">
        <img src="/api/tournaments/image?name={{ tourney.searchableName }}" class="title_logo"></a>
    <h1><a href="/{{ tournamentLink }}/admin" class="hide">{{ tourney.name }}</a></h1>
    <br>
    <br>
    <div class="row">

        <div class="col">
            <div style="min-height: 200px">
                <div style="min-height: 200px">
                    <h2>Games Requiring Action</h2>

                    {% if not require_action %}
                        <br>
                        <br>
                        <i>No Games Requiring Action</i>
                    {% else %}
                        {% for i in require_action %}

                            <p><a href="/games/{{ i.id }}/admin"
                                  class="hide"><b>[{{ i.requires_action_string }}]: </b>{{ i.teams[0] }}
                                vs {{ i.teams[1] }} ({{ i.score_string }})</a></p>

                        {% endfor %}
                    {% endif %}
                </div>
                <div style="min-height: 200px">
                    <h2><a class="hide" href="/{{ tournamentLink }}fixtures/admin">Current Round</a></h2>
                    <table class="jaredTable">
                        <tbody>
                        <tr>
                            <th>Team One</th>
                            <td></td>
                            <th>Team Two</th>
                            <th>Score</th>
                        </tr>
                        {% for i in current_round %}
                            <tr>
                                <td><a href="/games/{{ i.id }}/admin"
                                       class="hide">{{ i.teams[0] }}</a></td>
                                <td><a href="/games/{{ i.id }}/admin" class="hide">vs</a></td>
                                <td><a href="/games/{{ i.id }}/admin"
                                       class="hide">{{ i.teams[1] }}</a></td>
                                <td><a href="/games/{{ i.id }}/admin"
                                       class="hide">{{ i.score_string }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div style="min-height: 200px">
                    <h2>Notices</h2>
                    <textarea style="width: 400px; height: 150px" id="notes"> {{ notes }} </textarea>
                    <br>
                    <button onclick="sendNotes('{{ tournamentLink }}')">Submit</button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col">

            <h2><a class="hide" href="/{{ tournamentLink }}players/admin">Players Requiring Action</a></h2>
            <div style="height: 200px">
                {% for p in players if p.penalty_points >= 10 %}
                    <p style="text-align: center"><a class="hide"
                                                     href="/{{ tournamentLink }}players/{{ p.searchableName }}/admin">{{ p.name }}: {{ p.penalty_points }}
                        penalty points</a>
                    </p>
                {% endfor %}
            </div>

            <h2><a class="hide" href="/{{ tournamentLink }}players/admin">Noteable Players</a></h2>

            <table class="jaredTable">
                <tr>
                    <th>Name</th>
                    <th>Penalty Points</th>
                    <th style="text-align: center">Green Cards</th>
                    <th>Yellow Cards</th>
                    <th>Red Cards</th>
                    <th>Rounds On bench</th>
                </tr>
                {% for p in players %}
                    <tr>
                        <td><a class="hide"
                               href="/{{ tournamentLink }}players/{{ p.searchableName }}/admin">{{ p.name }}</a>
                        </td>
                        <td style="text-align: center"><a class="hide"
                                                          href="/{{ tournamentLink }}players/{{ p.searchableName }}/admin">{{ p.penalty_points }}</a>
                        </td>
                        <td style="text-align: center"><a class="hide"
                                                          href="/{{ tournamentLink }}players/{{ p.searchableName }}/admin">{{ p.warnings }}</a>
                        </td>
                        <td style="text-align: center"><a class="hide"
                                                          href="/{{ tournamentLink }}players/{{ p.searchableName }}/admin">{{ p.yellow_cards }}</a>
                        </td>
                        <td><a class="hide"
                               href="/{{ tournamentLink }}players/{{ p.searchableName }}/admin">{{ p.red_cards }}</a>
                        </td>
                        <td><a class="hide"
                               href="/{{ tournamentLink }}players/{{ p.searchableName }}/admin">{{ p.rounds_on_bench }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
{% endblock %}