{% extends "admin.html" %}

{% block headBlock %}
    <title>{{ tournament }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_admin.css') }}">
{% endblock %}

{% block bodyBlock %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>

    <a href="/{{ tournament }}/admin">
        <img src="/api/tournaments/image?name={{ tourney.nice_name() }}" class="title_logo"></a>
    <h1><a href="/{{ tournament }}/admin" class="hide">{{ tourney.name }}</a></h1>
    <br>
    <br>
    <div class="row">

        <div class="col">
            <div style="min-height: 200px">
                <div style="min-height: 200px">
                    <h2>Games Requiring Action</h2>

                    {% if not require_action %}
                        {% if tourney.fixtures_class.manual_allowed() and not in_progress %}
                            <button class="button" onclick="document.location.href = '/{{ tournament }}/create'">New
                                Game
                            </button>
                            <br>
                            <br>
                            <button class="button" onclick="document.location.href = '/{{ tournament }}/round'">New
                                Round
                            </button>
                        {% else %}
                            <br><br>
                            <i>No Ongoing Games</i>
                        {% endif %}
                    {% else %}
                        {% for i in require_action %}

                            <p><a href="/{{ tournament }}games/{{ i.id }}/admin"
                                  class="hide"><b>[{{ i.requires_action_string }}]: </b>{{ i }}</a></p>

                        {% endfor %}
                    {% endif %}
                </div>
                <div style="min-height: 200px">
                    <h2><a class="hide" href="/{{ tournament }}fixtures/admin">Current Round</a></h2>
                    <table class="jaredTable">
                        <tbody>
                        <tr>
                            <th>Team One</th>
                            <td></td>
                            <th>Team Two</th>
                            <th>Score</th>
                        </tr>
                        {% for i in current_round %}
                            <tr>
                                <td><a href="/{{ tournament }}games/{{ i.id }}/admin"
                                       class="hide">{{ i.teams[0] }}</a></td>
                                <td><a href="/{{ tournament }}games/{{ i.id }}/admin" class="hide">vs</a></td>
                                <td><a href="/{{ tournament }}games/{{ i.id }}/admin"
                                       class="hide">{{ i.teams[1] }}</a></td>
                                <td><a href="/{{ tournament }}games/{{ i.id }}/admin"
                                       class="hide">{{ i.score_string }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div style="min-height: 200px">
                    <h2>Notices</h2>
                    <textarea style="width: 400px; height: 150px" id="notes"> {{ notes }} </textarea>
                    <br>
                    <button onclick="sendNotes('{{ tournament }}')">Submit</button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col">

            <h2><a class="hide" href="/{{ tournament }}players/admin">Players Requiring Action</a></h2>
            <div style="height: 200px">
                {% for p in players if p.get_stats_detailed()["Penalty Points"] >= 12%}
                <p style="text-align: center"><a class="hide"
                                                  href="/{{ tournament }}players/{{ p.nice_name() }}/admin">{{ p }}: {{ p.get_stats_detailed()["Penalty Points"] }} penalty points</a>
                </p>
                {% endfor  %}
            </div>

            <h2><a class="hide" href="/{{ tournament }}players/admin">Noteable Players</a></h2>

            <table class="jaredTable">
                <tr>
                    <th>Name</th>
                    <th>Penalty Points</th>
                    <th style="text-align: center">Green Cards</th>
                    <th>Yellow Cards</th>
                    <th>Red Cards</th>
                    <th>Rounds On bench</th>
                </tr>
                {% for p in players %}
                    <tr>
                        <td><a class="hide"
                               href="/{{ tournament }}players/{{ p.nice_name() }}/admin">{{ p }}</a>
                        </td>
                        <td style="text-align: center"><a class="hide"
                                                          href="/{{ tournament }}players/{{ p.nice_name() }}/admin">{{ p.get_stats_detailed()["Penalty Points"] }}</a>
                        </td>
                        <td style="text-align: center"><a class="hide"
                                                          href="/{{ tournament }}players/{{ p.nice_name() }}/admin">{{ p.get_stats()["Green Cards"] }}</a>
                        </td>
                        <td style="text-align: center"><a class="hide"
                                                          href="/{{ tournament }}players/{{ p.nice_name() }}/admin">{{ p.get_stats()["Yellow Cards"] }}</a>
                        </td>
                        <td><a class="hide"
                               href="/{{ tournament }}players/{{ p.nice_name() }}/admin">{{ p.get_stats()["Red Cards"] }}</a>
                        </td>
                        <td><a class="hide"
                               href="/{{ tournament }}players/{{ p.nice_name() }}/admin">{{ p.get_stats()["Rounds Carded"] }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
{% endblock %}